# Group Members
1848660 - Rutendo Jambwa <br/>
1852529 - Bohlokoa Tilo <br/>
1908649 - Tieho Ramphore <br/>
1908664 - Thando Peter <br/>

In [7]:
# Initialisation Cell
from __future__ import print_function, division
from IPython.display import display, HTML, Javascript
from matplotlib import pyplot as plt
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

%matplotlib inline

sns.set_context("talk")
sns.set_style('darkgrid', {'figure.facecolor': '(0,0,0,0)'}) 
#'axes.facecolor': '(0,0,0,0)'

In [8]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.utils import resample
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Relationship between education and wealth level in South Africa
 
## Executive Summary
The purpose of the notebook is to analyse census and income data from [UCT NIDS databse](http://www.nids.uct.ac.za/nids-data/program-library/derived-files) to determine if there is a correlation between **people's wealth** and their **highest education level**(i.e primary,secondary or tertiary education) What is being modelled are the regression charts of earning amounts of the decade, graduation rates over the decade, as well as GDP and economic expenditure for citizens.Thus far,we have determined that:

  1)The largest group of participants were young (in their 20s).
  
  2)The majority was African/Black.
  
  3)Few participants completed tertiary education.
  
  4)Most people were in the R6 001 to R8 000 income bracket.
  
*The journey to coming to this stage had its perils. Some of those being:*

  1)Formulating a pertinent question.
  
  2)Finding an extensive dataset in the South African context.
  
  3)Dealing with and sorting out opaque variable names.

## Introduction
**Problem Context**: South Africa is known to be one of the most unequal societies in the world, with the World Bank reporting that 20% of people in South Africa control almost 70% of the resources.**Motivation**:The financial gap is widening and we aim to see if people of SA, specifically the previously disadavantaged, have amassed more financial power as a result of greater access to education and employment opportunities.**Questions include**: Is there a significant relationship between education and income level?How has this changed over time? What are the provincial differences?Are there any anomalies and if so, how do they affect the analysis.**Methodology**: We will take the data, Normalise the data to the 3rd normal form, we will then graph a set regression models that indicate the change over the years with regards to both eduation and wealth levels. We will then use the insights gained from this to formulate a response. **Section Contents Overview**: the following will be a description of the original datasets, the changes perfromed on these datasets, and initial visualisations on data correlations.

### Research question

Does education level correlate with the accumulation of wealth and employment opportunities in South Africa?

### Hypothesis
Education level does not correlate with the accumulation of wealth because it usually comes with a large amount of debt (student loans). Wealth is dependent on the type of degree that you do obtain. Wealth accumulation does not correlate with employment opporunities and education level.

In order to test this hypothesis, variables of interest have been extracted and have been used to fit regression models to establish whether the variable are significantly related to the monthly earnings. In the following section, the data used in this project is described.

### Methodology
A brief overview of the methodology is as follows:<br/>
1. Read in data <br/>
2. Encode variables <br/>
3. ...

## Data Description

The data was originaly sourced from the [UCT NIDS databse](https://www.datafirst.uct.ac.za/dataportal/index.php/catalog/712/datafile/F2/?offset=100&limit=100) 
The dataset was downloaded on the 22nd of March. The dataset was originaly created in August 2018 after 10 years of repeated panel surveys which were conducted in 7 300 homes across South Africa. *The Southern Africa Labour and Development Research Unit* of UCT lead the investigation and therefore were at the forefront of data collection. The data collected focuses on wealth creation in terms of income and expenditure patters and asset endowments, education and employment dynamics, impact of life events, social capital and intergenerational developments.The data collected follows:

### Reading in the data

In [9]:
#importing data infto dataframe 'df'
df = pd.read_stata('DAE-Data/adult_dataset.dta')

#selecting specific columns from "df"
df_filtered = df[
    ['w5_hhid','w5_a_sample','w5_a_dob_m','w5_a_dob_y','w5_a_gen','w5_a_popgrp','w5_a_mar','w5_a_mary_m','w5_a_mary_l','w5_a_curmarst',
     'w5_a_bhbrth','w5_a_bhcnt1con','w5_a_bhlive','w5_a_mthtertyn','w5_a_mthtert','w5_a_fthtert_o','w5_a_em1','w5_a_em1strty','w5_a_em1inc','w5_a_em1pay',
     'w5_a_em1inc_cat','w5_a_em1hrs','w5_a_em1prf','w5_a_em1prf_a','w5_a_em1prflm','w5_a_em1prflm_a','w5_a_em1bon','w5_a_em1bon_a','w5_a_em1bonlm','w5_a_em1bonlm_a',
     'w5_a_em1pcrt','w5_a_em1pcrt_a','w5_a_em1pcrtlm','w5_a_em1pcrtlm_a','w5_a_em2','w5_a_em2inc','w5_a_em2pay','w5_a_em2inc_cat','w5_a_ems','w5_a_emssll',
     'w5_a_emslft','w5_a_emsincfr_a','w5_a_incgovpen','w5_a_incgovpen_v','w5_a_incdis','w5_a_incdis_v','w5_a_incchld','w5_a_incchld_v','w5_a_incfos','w5_a_incfos_v',
     'w5_a_inccare','w5_a_inccare_v','w5_a_incaid','w5_a_incaid_v','w5_a_incwar','w5_a_incwar_v','w5_a_incuif','w5_a_incuif_v','w5_a_incwc','w5_a_incwc_v',
     'w5_a_incpfnd','w5_a_incpfnd_v','w5_a_incret','w5_a_incret_v','w5_a_incretp','w5_a_incretp_v','w5_a_incrnt','w5_a_incrnt_v','w5_a_incint','w5_a_incint_v',
     'w5_a_incretr','w5_a_incretr_v','w5_a_incinh','w5_a_incinh_v','w5_a_inclob','w5_a_inclob_v','w5_a_incgif','w5_a_incgif_v','w5_a_incloan',
     'w5_a_incloan_v','w5_a_incsale','w5_a_incsale_v','w5_a_inco','w5_a_inco_o','w5_a_inco_v','w5_a_cr',
     'w5_a_grcurtyp','w5_a_grcurecrel','w5_a_edschgrd','w5_a_edschyr','w5_a_edschage',
     'w5_a_ednsc','w5_a_edexemp','w5_a_edschmth','w5_a_edschmth_o','w5_a_edter',
     'w5_a_edterlev','w5_a_edterlev_o','w5_a_edteryr','w5_a_edrep','w5_a_ed17cur',
     'w5_a_ed17curlev_o','w5_a_edlitcomp','w5_a_edlitrden','w5_a_edlitwrten','w5_a_decdpid',
     'w5_a_decdpid2','w5_a_declrgpid','w5_a_declrgpid2','w5_a_wblv','w5_a_fwbrelinc',
     'w5_a_fwbstp15','w5_a_fwbstp5yr','w5_a_fwbinc5yr','w5_a_wbsat','w5_a_wbsat10yr',
     'w5_a_trstsa','w5_a_recinh','w5_a_recjob','w5_a_recprof','w5_a_recfin',
     'w5_a_reclob','w5_a_recoth','w5_a_ownveh','w5_a_ownveh_v','w5_a_ownmot',
     'w5_a_ownmot_v','w5_a_owncom','w5_a_owncel','w5_a_dtbnd','w5_a_dtbnd_b',
     'w5_a_dtbnd_joint','w5_a_ownoth_ind','w5_a_ownowdtot_indshare','w5_a_dtveh','w5_a_dtveh_b',
     'w5_a_dtveh_joint','w5_a_dtbnk','w5_a_dtbnk_b','w5_a_dtmic','w5_a_dtmic_b',
     'w5_a_dtstubnk','w5_a_dtstubnk_b','w5_a_dtstuo','w5_a_dtstuo_b','w5_a_dtcre',
     'w5_a_dtcre_b','w5_a_dtstr','w5_a_dtstr_b','w5_a_dthp','w5_a_dthp_b',
     'w5_a_dtflloan','w5_a_dtflloan_b','w5_a_dtfrloan','w5_a_dtfrloanbal','w5_a_dtmsh',
     'w5_a_dtmsh_b','w5_a_dtemploan','w5_a_dtemploan_b','w5_a_dtunpdtax','w5_a_dtunpdtax_b',
     'w5_a_dtserarr','w5_a_dtserarr_b','w5_a_dtoth1','w5_a_dtoth1_o','w5_a_dtoth1_b',
     'w5_a_aslifeins','w5_a_aspen','w5_a_aspen_v','w5_a_aspen_cat','w5_a_asfin',
     'w5_a_asfin_v','w5_a_asfin_cat','w5_a_dtstvl','w5_a_asacc','w5_a_asacc_v',
     'w5_a_asacc_cat','w5_a_dtacc_cat','w5_a_assell','w5_a_assell_v']]

#df_filtered

In [10]:
#column renaming
pd.set_option('mode.chained_assignment', None)
#dictionary for the new column names: key = old name & value = new name
dict={'w5_hhid':'Household_Identifier','w5_a_sample':'Sample_Origin','w5_a_dob_m':'Month_DOB','w5_a_dob_y':'Year_DOB','w5_a_gen':'Gender',
 'w5_a_popgrp':'Population_Group','w5_a_mar':'Married_Cohabitation','w5_a_mary_m':'Years_Married','w5_a_mary_l':'Years_Cohabiting','w5_a_curmarst':'Current_Relationship_Status',
 'w5_a_bhbrth':'Given_Birth','w5_a_bhcnt1con':'Birth_Count','w5_a_bhlive':'Biological_Children_Living','w5_a_mthtertyn':'Mother_Degrees','w5_a_mthtert':'Mother_Highest_Tertiary',
 'w5_a_fthtert_o':'Father_Highest_Tertiary','w5_a_em1':'Employment_Payment','w5_a_em1strty':'Primary_Occupation','w5_a_em1inc':'Primary_Gross_Income_Month','w5_a_em1pay':'Primary_Net_Income_Month',
 'w5_a_em1inc_cat':'Main_Job_Income_Category','w5_a_em1hrs':'Work_Week_Hours','w5_a_em1prf':'Rec_Share_Profit_Year','w5_a_em1prf_a':'Share_Profit_Year','w5_a_em1prflm':'Rec_Share_Profit_Month',
 'w5_a_em1prflm_a':'Share_Profit_Month','w5_a_em1bon':'Rec_Bonus_Year','w5_a_em1bon_a':'Other_Bonus_Year','w5_a_em1bonlm':'Rec_Bonus_Month','w5_a_em1bonlm_a':'Other_Bonus_Month',
 'w5_a_em1pcrt':'Rec_Extra_Income_Year','w5_a_em1pcrt_a':'Extra_Income_Year','w5_a_em1pcrtlm':'Rec_Extra_Income_Month','w5_a_em1pcrtlm_a':'Extra_Income_Month','w5_a_em2':'Have_Secondary_Occupation',
 'w5_a_em2inc':'Secondary_Gross_Income','w5_a_em2pay':'Secondary_Net_Income','w5_a_em2inc_cat':'Secondary_Income_Category','w5_a_ems':'Is_Self_Employed','w5_a_emssll':'Net_After_Liabilities',
 'w5_a_emslft':'Amount_Left_Over','w5_a_emsincfr_a':'Month_Take_Home_Salary','w5_a_incgovpen':'Pension','w5_a_incgovpen_v':'Pension_Amount','w5_a_incdis':'Disability_Grant',
 'w5_a_incdis_v':'Disability_Grant_Amount','w5_a_incchld':'Child_Support','w5_a_incchld_v':'Child_Support_Amount','w5_a_incfos':'Foster_Care_Grant','w5_a_incfos_v':'Foster_Care_Grant_Amount',
 'w5_a_inccare':'Dependency_Grant','w5_a_inccare_v':'Dependency_Grant_Amount','w5_a_incaid':'Grant_In_Aid','w5_a_incaid_v':'Grant_In_Aid_Amount','w5_a_incwar':'War_Veterans_Pension',
 'w5_a_incwar_v':'War_Veterans_Pension_Amount','w5_a_incuif':'UIF','w5_a_incuif_v':'UIF_Amount','w5_a_incwc':'Workers_Compensation','w5_a_incwc_v':'Workers_Compensation_Amount',
 'w5_a_incpfnd':'Provident_Fund','w5_a_incpfnd_v':'Provident_Fund_Amount','w5_a_incret':'Private_Retirement_Annuity','w5_a_incret_v':'Private_Retirement_Annuity_Amount','w5_a_incretp':'Retirement_Package',
 'w5_a_incretp_v':'Retirement_Package_Amount','w5_a_incrnt':'Rental_Income','w5_a_incrnt_v':'Rental_Income_Amount','w5_a_incint':'Interest_Earnings','w5_a_incint_v':'Interest_Earnings_Amount',
 'w5_a_incretr':'Retrenchment_Package','w5_a_incretr_v':'Retrenchment_Package_Amount','w5_a_incinh':'Inheritances','w5_a_incinh_v':'Inheritances_Amount','w5_a_inclob':'Lobola',
 'w5_a_inclob_v':'Lobola_Amount','w5_a_incgif':'Gifts','w5_a_incgif_v':'Gifts_Amount','w5_a_incloan':'Loan_Repayments',
 'w5_a_incloan_v':'Loan_Repayments_Amount','w5_a_incsale':'Sale_Household_Goods','w5_a_incsale_v':'Sale_Household_Goods_Amount','w5_a_inco':'Other_Income','w5_a_inco_o':'Other_Income_Recipient',
 'w5_a_inco_v':'Other_Income_Value','w5_a_cr':'Non_Household_Residents_Contributions',
    'w5_a_grcurtyp':'GRNT_TYP','w5_a_grcurecrel':'GRNT_RCVD_BY_WHO','w5_a_edschgrd':'HGST_GR_CMPLT','w5_a_edschyr':'YR_CMPLT',
      'w5_a_edschage':'AGE_CMPLT','w5_a_ednsc':'NCS_PASS_TYP','w5_a_edexemp':'UNI_EXMPTN','w5_a_edschmth':'HGST_GR_MATH',
      'w5_a_edschmth_o':'OTHR_GR_MATH','w5_a_edter':'TERTIARY','w5_a_edterlev':'HGST_LVL_TER','w5_a_edterlev_o':'OTHR_LVL_TER',
      'w5_a_edteryr':'YR_TER_CMPLT','w5_a_edrep':'REP_SCH_GRDS','w5_a_ed17cur':'STUDENT','w5_a_ed17curlev_o':'CURR_EDU_LVL',
      'w5_a_edlitcomp':'COMP_LITRTE','w5_a_edlitrden':'ENG_RDNG_LVL','w5_a_edlitwrten':'ENG_WRTNG_LVL','w5_a_decdpid':'HH_DCSN_MKR',
      'w5_a_decdpid2':'HH_DCSN_MKR2','w5_a_declrgpid':'DCSN_LRG_PRCH' ,'w5_a_declrgpid2':'DCSN_LRG_PRCH2','w5_a_wblv':'PRF_LVNG_AREA',
      'w5_a_fwbrelinc':'HH_INCME_CLSS','w5_a_fwbstp15':'INCME_STP_15','w5_a_fwbstp5yr':'INCME_STP_5YR','w5_a_fwbinc5yr':'EXP_INCME_5YR',
      'w5_a_wbsat':'LIFE_SATIF_LVL_','w5_a_wbsat10yr':'HAPPINSS_LVL','w5_a_trstsa':'TRST_SA_PPL','w5_a_recinh':'INCME_INHRTNC',
      'w5_a_recjob':'INCME_JOB_PYOUT','w5_a_recprof':'INCME_PTY_PRFT','w5_a_recfin':'INCME_FINAN_PRDCT','w5_a_reclob':'INCME_LOBOLA',
      'w5_a_recoth':'OTHER_LGR_INCME','w5_a_ownveh':'OWN_VEHCL','w5_a_ownveh_v':'VEHCL_VAL_AMT','w5_a_ownmot':'OWN_M0TCYCL',
      'w5_a_ownmot_v':'MOTCYCL_VAL_AMT','w5_a_owncom':'OWN_COMP','w5_a_owncel':'OWN_CELL','w5_a_dtbnd':'HME_LOAN_BOND',
      'w5_a_dtbnd_b':'HME_LOAN_BAL','w5_a_dtbnd_joint':'HME_BAL_JOINT','w5_a_ownoth_ind':'OWN_PTY','w5_a_ownowdtot_indshare':'PTY_DBT_JOINT',
      'w5_a_dtveh':'CAR_PYMNT','w5_a_dtveh_b':'CAR_PYMNT_BAL','w5_a_dtveh_joint':'CAR_BAL_JOINT','w5_a_dtbnk':'BNK_PRSNL_LOAN',
      'w5_a_dtbnk_b':'BNK_LOAN_BAL','w5_a_dtmic':'MICRO_LNDR_LOAN','w5_a_dtmic_b':'ML_LOAN_BAL','w5_a_dtstubnk':'BNK_STDY_LOAN',
      'w5_a_dtstubnk_b':'STDY_LOAN_BAL','w5_a_dtstuo':'OTHR_STDY_LOAN','w5_a_dtstuo_b':'OSTDY_LOAN_BAL','w5_a_dtcre':'CRDT_CRD',
      'w5_a_dtcre_b':'CRDT_CRD_BAL','w5_a_dtstr':'STORE_ACC','w5_a_dtstr_b':'STORE_ACC_BAL','w5_a_dthp':'HIRE_PUR_AGRMNT',
      'w5_a_dthp_b':'HIRE_PUR_BAL','w5_a_dtflloan':'FAM_MEM_LOAN','w5_a_dtflloan_b':'FAM_LOAN_BAL','w5_a_dtfrloan':'FRND_LOAN',
      'w5_a_dtfrloanbal':'FRND_LOAN_BAL','w5_a_dtmsh':'MASHN_LOAN','w5_a_dtmsh_b':'MASHN_LOAN_BAL','w5_a_dtemploan':'EMPLOYR_LOAN',
      'w5_a_dtemploan_b':'EMPLOYR_LOAN_BAL','w5_a_dtunpdtax':'UNPD_TAX','w5_a_dtunpdtax_b':'UNPD_TAX_BAL','w5_a_dtserarr':'MONTHLY_ARRS',
      'w5_a_dtserarr_b':'MONTHLY_ARRS_BAL','w5_a_dtoth1':'OTHR_DEBTS','w5_a_dtoth1_o':'NOT_OTHR_DEBT','w5_a_dtoth1_b':'OTHR_DEBT_BAL',
      'w5_a_aslifeins':'LIFE_INSRNC','w5_a_aspen':'PEN_RETMNT_ANNTY','w5_a_aspen_v':'PEN_RETMNT_AMT','w5_a_aspen_cat':'PEN_RETMNT_CATGRY',
      'w5_a_asfin':'UNTTRST_STKS_SHRS','w5_a_asfin_v':'UT_SS_AMT','w5_a_asfin_cat':'UT_SS_CATGRY','w5_a_dtstvl':'STKVL_SAVNGSCLB',
      'w5_a_asacc':'BNK_ACC','w5_a_asacc_v':'BNK_ACC_BAL','w5_a_asacc_cat':'BNK_ACC_CATGRY','w5_a_dtacc_cat':'OD_ACC_CATEGRY',
      'w5_a_assell':'NET_VAL_HH_POSSNS','w5_a_assell_v':'POS_VAL_LFTOVR'}
df_filtered.rename(columns = dict,inplace = True)
display(df_filtered)

,Household_Identifier,Sample_Origin,Month_DOB,Year_DOB,Gender,Population_Group,Married_Cohabitation,Years_Married,Years_Cohabiting,Current_Relationship_Status,...,UNTTRST_STKS_SHRS,UT_SS_AMT,UT_SS_CATGRY,STKVL_SAVNGSCLB,BNK_ACC,BNK_ACC_BAL,BNK_ACC_CATGRY,OD_ACC_CATEGRY,NET_VAL_HH_POSSNS,POS_VAL_LFTOVR
0,500000,2017 sample,March,1980,Male,Coloured,Formally married,5,NaN,NaN,...,No,NaN,NaN,No,Yes,Dont know,Refused,NaN,Something left over,150000
1,500001,2008 sample,October,1993,Male,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,Yes,0,NaN,NaN,Don't know,NaN
2,500002,2008 sample,September,1979,Female,African,Formally married,13,NaN,NaN,...,No,NaN,NaN,Yes,Yes,4000,NaN,NaN,Something left over,Dont know
3,500002,2008 sample,August,1972,Male,African,Formally married,15,NaN,NaN,...,No,NaN,NaN,No,Yes,10000,NaN,NaN,Something left over,Dont know
4,500003,2008 sample,December,1967,Male,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,No,NaN,NaN,NaN,Refused,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30105,513781,2008 sample,December,1985,Male,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,No,NaN,NaN,NaN,Something left over,1000
30106,513782,2008 sample,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30107,513782,2008 sample,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30108,513782,2008 sample,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30109,513783,2008 sample,December,1985,Female,African,Formally married,6,NaN,NaN,...,No,NaN,NaN,No,Yes,0,NaN,NaN,In debt,NaN

As can be seen above the data set has 30 110 entries each with at most 180 filled columns. The pertinent information captured in the dataframe is as follows:

#### Population Group
Categories of race groups in South Africa including:
- Missing
- African(Black)
- Coloured
- Asian/Indian
- White
- Other

#### Gender
Categories include:
- Male
- Female

#### Married Cohabitation
participants fall into the following Categories:
- Don't Know
- Refused (to give answer)
- Missing
- Formally Married
- Living Together
- Not Living Together

#### Number of years Married
a value for how long participants have been married.

# (Will add others as is necessary)

### Quality Analysis

After having analysed the whole dataset it can be stated that the data is of good quality. Specific details are highlighted and discussed below.

In [11]:
#Viewing entries to determine if a standard is maintained
df_filtered.head(20)

,Household_Identifier,Sample_Origin,Month_DOB,Year_DOB,Gender,Population_Group,Married_Cohabitation,Years_Married,Years_Cohabiting,Current_Relationship_Status,...,UNTTRST_STKS_SHRS,UT_SS_AMT,UT_SS_CATGRY,STKVL_SAVNGSCLB,BNK_ACC,BNK_ACC_BAL,BNK_ACC_CATGRY,OD_ACC_CATEGRY,NET_VAL_HH_POSSNS,POS_VAL_LFTOVR
0,500000,2017 sample,March,1980,Male,Coloured,Formally married,5,NaN,NaN,...,No,NaN,NaN,No,Yes,Dont know,Refused,NaN,Something left over,150000
1,500001,2008 sample,October,1993,Male,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,Yes,0,NaN,NaN,Don't know,NaN
2,500002,2008 sample,September,1979,Female,African,Formally married,13,NaN,NaN,...,No,NaN,NaN,Yes,Yes,4000,NaN,NaN,Something left over,Dont know
3,500002,2008 sample,August,1972,Male,African,Formally married,15,NaN,NaN,...,No,NaN,NaN,No,Yes,10000,NaN,NaN,Something left over,Dont know
4,500003,2008 sample,December,1967,Male,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,No,NaN,NaN,NaN,Refused,NaN
5,500003,2008 sample,December,1991,Female,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,Yes,1500,NaN,NaN,Don't know,NaN
6,500003,2008 sample,April,1954,Female,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,Yes,4000,NaN,NaN,Don't know,NaN
7,500003,2008 sample,February,1977,Male,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,Yes,0,NaN,NaN,Don't know,NaN
8,500004,2008 sample,June,1967,Female,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,Yes,400,NaN,NaN,Something left over,8000
9,500005,2008 sample,June,1977,Male,Coloured,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,Yes,1070,NaN,NaN,Something left over,360000
10,500006,2008 sample,February,1993,Female,African,Living together,NaN,8,NaN,...,No,NaN,NaN,No,No,NaN,NaN,NaN,Something left over,200000
11,500006,2008 sample,November,1972,Female,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,Yes,Yes,0,NaN,NaN,Something left over,90000
12,500006,2008 sample,September,1954,Female,African,Formally married,46,NaN,NaN,...,No,NaN,NaN,Yes,Yes,7000,NaN,NaN,Something left over,10000
13,500006,2008 sample,September,1950,Male,African,Formally married,46,NaN,NaN,...,No,NaN,NaN,No,Yes,Dont know,"R5,000",NaN,Breakeven,NaN
14,500006,2008 sample,October,1989,Male,African,Living together,NaN,8,NaN,...,No,NaN,NaN,No,Yes,0,NaN,NaN,Something left over,300000
15,500007,2008 sample,February,1968,Male,African,Formally married,7,NaN,NaN,...,No,NaN,NaN,Yes,Yes,Refused,"R5,001-R49,999",NaN,Something left over,300000
16,500007,2008 sample,July,1983,Female,African,Formally married,7,NaN,NaN,...,No,NaN,NaN,No,Yes,3500,NaN,NaN,Breakeven,NaN
17,500008,2008 sample,June,1998,Male,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,No,NaN,NaN,NaN,Breakeven,NaN
18,500008,2008 sample,February,1960,Male,African,NaN,20,NaN,NaN,...,No,NaN,NaN,No,Yes,0,NaN,NaN,Breakeven,NaN
19,500009,2008 sample,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Off of the first set of entries it can be seen that all the entries follow a standard that was prioritised during data collection. This also means that the values are consistent and realistic. 
### Expand on this??

In [12]:
#Viewing data types in dataframe
df_filtered.info(verbose=True,null_counts=True)
#Viewing number of null entries
nrows_missing = df_filtered.isnull().sum().sum()
print('Rows with missing data: ',nrows_missing)
ncols_missing=len(df_missing)
print('Number of columns with missing values: ',ncols_missing)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30110 entries, 0 to 30109
Data columns (total 180 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Household_Identifier                   30110 non-null  int32
 1   Sample_Origin                          30110 non-null  category
 2   Month_DOB                              23892 non-null  category
 3   Year_DOB                               23892 non-null  category
 4   Gender                                 23892 non-null  category
 5   Population_Group                       23892 non-null  category
 6   Married_Cohabitation                   6813 non-null   category
 7   Years_Married                          5677 non-null   category
 8   Years_Cohabiting                       1851 non-null   category
 9   Current_Relationship_Status            1178 non-null   category
 10  Given_Birth                            14111 non-null  category
 11  Birth_Count                            11105 non-null  category
 12  Biological_Children_Living             11105 non-null  category
 13  Mother_Degrees                         16154 non-null  category
 14  Mother_Highest_Tertiary                804 non-null    category
 15  Father_Highest_Tertiary                30110 non-null  object
 16  Employment_Payment                     23892 non-null  category
 17  Primary_Occupation                     6969 non-null   category
 18  Primary_Gross_Income_Month             6969 non-null   category
 19  Primary_Net_Income_Month               6969 non-null   category
 20  Main_Job_Income_Category               307 non-null    category
 21  Work_Week_Hours                        6969 non-null   category
 22  Rec_Share_Profit_Year                  6969 non-null   category
 23  Share_Profit_Year                      116 non-null    category
 24  Rec_Share_Profit_Month                 116 non-null    category
 25  Share_Profit_Month                     17 non-null     category
 26  Rec_Bonus_Year                         6969 non-null   category
 27  Other_Bonus_Year                       822 non-null    category
 28  Rec_Bonus_Month                        822 non-null    category
 29  Other_Bonus_Month                      60 non-null     category
 30  Rec_Extra_Income_Year                  6969 non-null   category
 31  Extra_Income_Year                      210 non-null    category
 32  Rec_Extra_Income_Month                 210 non-null    category
 33  Extra_Income_Month                     60 non-null     category
 34  Have_Secondary_Occupation              6969 non-null   category
 35  Secondary_Gross_Income                 51 non-null     category
 36  Secondary_Net_Income                   51 non-null     category
 37  Secondary_Income_Category              1 non-null      category
 38  Is_Self_Employed                       23892 non-null  category
 39  Net_After_Liabilities                  1153 non-null   category
 40  Amount_Left_Over                       459 non-null    category
 41  Month_Take_Home_Salary                 187 non-null    category
 42  Pension                                23891 non-null  category
 43  Pension_Amount                         2897 non-null   category
 44  Disability_Grant                       23891 non-null  category
 45  Disability_Grant_Amount                624 non-null    category
 46  Child_Support                          23891 non-null  category
 47  Child_Support_Amount                   5931 non-null   category
 48  Foster_Care_Grant                      23891 non-null  category
 49  Foster_Care_Grant_Amount               320 non-null    category
 50  Dependency_Grant                       23891 non-null  category
 51  Dependency_Grant_Amount                101 non-null    category
 52  Grant_In_Aid                           23891 non-null  category
 53  Grant_In_Aid_Amount                    13 non-null     category
 54  War_Veterans_Pension                   23891 non-null  category
 55  War_Veterans_Pension_Amount            2 non-null      category
 56  UIF                                    23891 non-null  category
 57  UIF_Amount                             51 non-null     category
 58  Workers_Compensation                   23891 non-null  category
 59  Workers_Compensation_Amount            24 non-null     category
 60  Provident_Fund                         23891 non-null  category
 61  Provident_Fund_Amount                  285 non-null    category
 62  Private_Retirement_Annuity             23891 non-null  category
 63  Private_Retirement_Annuity_Amount      83 non-null     category
 64  Retirement_Package                     23891 non-null  category
 65  Retirement_Package_Amount              33 non-null     category
 66  Rental_Income                          23891 non-null  category
 67  Rental_Income_Amount                   245 non-null    category
 68  Interest_Earnings                      23891 non-null  category
 69  Interest_Earnings_Amount               73 non-null     category
 70  Retrenchment_Package                   23891 non-null  category
 71  Retrenchment_Package_Amount            11 non-null     category
 72  Inheritances                           23891 non-null  category
 73  Inheritances_Amount                    40 non-null     category
 74  Lobola                                 23891 non-null  category
 75  Lobola_Amount                          4 non-null      category
 76  Gifts                                  23891 non-null  category
 77  Gifts_Amount                           74 non-null     category
 78  Loan_Repayments                        23891 non-null  category
 79  Loan_Repayments_Amount                 57 non-null     category
 80  Sale_Household_Goods                   23891 non-null  category
 81  Sale_Household_Goods_Amount            19 non-null     category
 82  Other_Income                           23891 non-null  category
 83  Other_Income_Recipient                 30110 non-null  object
 84  Other_Income_Value                     55 non-null     category
 85  Non_Household_Residents_Contributions  23892 non-null  category
 86  GRNT_TYP                               1610 non-null   category
 87  GRNT_RCVD_BY_WHO                       1610 non-null   category
 88  HGST_GR_CMPLT                          23891 non-null  category
 89  YR_CMPLT                               22165 non-null  category
 90  AGE_CMPLT                              4332 non-null   category
 91  NCS_PASS_TYP                           2825 non-null   category
 92  UNI_EXMPTN                             4049 non-null   category
 93  HGST_GR_MATH                           22165 non-null  category
 94  OTHR_GR_MATH                           30110 non-null  object
 95  TERTIARY                               22165 non-null  category
 96  HGST_LVL_TER                           4521 non-null   category
 97  OTHR_LVL_TER                           30110 non-null  object
 98  YR_TER_CMPLT                           4521 non-null   category
 99  REP_SCH_GRDS                           10591 non-null  category
 100 STUDENT                                10591 non-null  category
 101 CURR_EDU_LVL                           30110 non-null  object
 102 COMP_LITRTE                            23891 non-null  category
 103 ENG_RDNG_LVL                           22797 non-null  category
 104 ENG_WRTNG_LVL                          22797 non-null  category
 105 HH_DCSN_MKR                            23892 non-null  category
 106 HH_DCSN_MKR2                           23851 non-null  category
 107 DCSN_LRG_PRCH                          23892 non-null  category
 108 DCSN_LRG_PRCH2                         23808 non-null  category
 109 PRF_LVNG_AREA                          23891 non-null  category
 110 HH_INCME_CLSS                          23891 non-null  category
 111 INCME_STP_15                           23891 non-null  category
 112 INCME_STP_5YR                          23891 non-null  category
 113 EXP_INCME_5YR                          20096 non-null  category
 114 LIFE_SATIF_LVL_                        23891 non-null  category
 115 HAPPINSS_LVL                           23891 non-null  category
 116 TRST_SA_PPL                            23891 non-null  category
 117 INCME_INHRTNC                          23891 non-null  category
 118 INCME_JOB_PYOUT                        23891 non-null  category
 119 INCME_PTY_PRFT                         23891 non-null  category
 120 INCME_FINAN_PRDCT                      23891 non-null  category
 121 INCME_LOBOLA                           23891 non-null  category
 122 OTHER_LGR_INCME                        23891 non-null  category
 123 OWN_VEHCL                              23891 non-null  category
 124 VEHCL_VAL_AMT                          2406 non-null   category
 125 OWN_M0TCYCL                            23891 non-null  category
 126 MOTCYCL_VAL_AMT                        116 non-null    category
 127 OWN_COMP                               23891 non-null  category
 128 OWN_CELL                               23891 non-null  category
 129 HME_LOAN_BOND                          23891 non-null  category
 130 HME_LOAN_BAL                           576 non-null    category
 131 HME_BAL_JOINT                          576 non-null    category
 132 OWN_PTY                                23891 non-null  category
 133 PTY_DBT_JOINT                          46 non-null     category
 134 CAR_PYMNT                              23891 non-null  category
 135 CAR_PYMNT_BAL                          648 non-null    category
 136 CAR_BAL_JOINT                          648 non-null    category
 137 BNK_PRSNL_LOAN                         23891 non-null  category
 138 BNK_LOAN_BAL                           1488 non-null   category
 139 MICRO_LNDR_LOAN                        23891 non-null  category
 140 ML_LOAN_BAL                            165 non-null    category
 141 BNK_STDY_LOAN                          23891 non-null  category
 142 STDY_LOAN_BAL                          58 non-null     category
 143 OTHR_STDY_LOAN                         23891 non-null  category
 144 OSTDY_LOAN_BAL                         80 non-null     category
 145 CRDT_CRD                               23891 non-null  category
 146 CRDT_CRD_BAL                           869 non-null    category
 147 STORE_ACC                              23891 non-null  category
 148 STORE_ACC_BAL                          3476 non-null   category
 149 HIRE_PUR_AGRMNT                        23891 non-null  category
 150 HIRE_PUR_BAL                           569 non-null    category
 151 FAM_MEM_LOAN                           23891 non-null  category
 152 FAM_LOAN_BAL                           289 non-null    category
 153 FRND_LOAN                              23891 non-null  category
 154 FRND_LOAN_BAL                          618 non-null    category
 155 MASHN_LOAN                             23891 non-null  category
 156 MASHN_LOAN_BAL                         370 non-null    category
 157 EMPLOYR_LOAN                           23891 non-null  category
 158 EMPLOYR_LOAN_BAL                       70 non-null     category
 159 UNPD_TAX                               23891 non-null  category
 160 UNPD_TAX_BAL                           24 non-null     category
 161 MONTHLY_ARRS                           23891 non-null  category
 162 MONTHLY_ARRS_BAL                       105 non-null    category
 163 OTHR_DEBTS                             23891 non-null  category
 164 NOT_OTHR_DEBT                          30110 non-null  object
 165 OTHR_DEBT_BAL                          243 non-null    category
 166 LIFE_INSRNC                            23891 non-null  category
 167 PEN_RETMNT_ANNTY                       23891 non-null  category
 168 PEN_RETMNT_AMT                         1274 non-null   category
 169 PEN_RETMNT_CATGRY                      808 non-null    category
 170 UNTTRST_STKS_SHRS                      23891 non-null  category
 171 UT_SS_AMT                              185 non-null    category
 172 UT_SS_CATGRY                           79 non-null     category
 173 STKVL_SAVNGSCLB                        23891 non-null  category
 174 BNK_ACC                                23891 non-null  category
 175 BNK_ACC_BAL                            12392 non-null  category
 176 BNK_ACC_CATGRY                         1764 non-null   category
 177 OD_ACC_CATEGRY                         19 non-null     category
 178 NET_VAL_HH_POSSNS                      23891 non-null  category
 179 POS_VAL_LFTOVR                         9323 non-null   category
dtypes: category(173), int32(1), object(6)
memory usage: 9.0+ MB
Rows with missing data:  3054847

NameError: name 'df_missing' is not defined

As can be seen in the above the information each column has a set data type that is adhered to throughout the dataset, this means the data present follows a set of decided categories, is a value, or is null. Given the above it can be seen that most columns have null values, this is due to the nature of questioning, there are many factors that a participant may not be part of which are then left null. Included in the dataframe are sample entries which contain null values, given that they have unique house_identifier codes they can be cross-referenced to exisitng entries and be removed if they don't match other entries in the dataframe.

Given the size of the dataset and number of present variables per entry we feel that the above dataframe is more than adequate to answer the questions we have regarding income/wealth levels and how they may relate to a series of determining factors. The dataset contains information from the same households over many years which will be instrumental in understanding both income over the course of the decade and wealth generation for the households in the dataset, understanding factors such as the rise/stagnation of education levels and income levels, as well as rising family numbers contrasted with rising debt or a lack of asset accumulation.

# Still needed: data validations

Wrangling TO-DO:
- Remove Duplicates (cross reference sample entries and remove if unique)
- Calculate net worth
- Construct relation databases

Exploratory Anal:
- Drop Nans for visuals

In [ ]:
 Personal_Details = df_filtered[['Household_Identifier','Month_DOB','Year_DOB','Gender','Population_Group','Married_Cohabitation','Years_Married','Years_Cohabiting','Current_Relationship_Status',
              'Given_Birth','Birth_Count','Biological_Children_Living','Mother_Degrees','Mother_Highest_Tertiary','Father_Highest_Tertiary','Employment_Payment',
              'Highest_Grade_Completed','Year_Highest_Grade_Completed','Age_Highest_Grade_Completed','Highest_Grade_Completed_Pass_Type','Matric_University_Exemption','Math_Highest_Grade_Completed',
                'Other_Math_Highest_Grade_Completed','Tertiary_Completed','Highest_Tertiary_Completed','Other_Highest_Tertiary_Completed','Year_Tertiary_Completed',
              'Repeated_School_Grades','Currently_Enrolled_School','Other_Currently_Enrolled_School','Computer_Literate','English_Reading_Level','English_Writing_Level']]
#
# Drop columns with no data
Personal_Details = Personal_Details.dropna(subset=['Year_DOB', 'Gender'])

# Group non-cohabitation categories
Personal_Details['Married_Cohabitation'] = Personal_Details['Married_Cohabitation'].cat.add_categories('No')
Personal_Details['Married_Cohabitation'].fillna('No', inplace = True)
Personal_Details = Personal_Details.replace({'Married_Cohabitation': {'Not living together': 'No', 'Don\'t know': 'No', 'Missing': 'No', 'Refused': 'No'}})

Personal_Details['Years_Married'] = Personal_Details['Years_Married'].cat.add_categories(0.0)
Personal_Details['Years_Married'].fillna(0.0, inplace = True)
Personal_Details = Personal_Details.replace({'Years_Married': {'Dont know': 0.0, 'Missing': 0.0}})

Personal_Details['Years_Cohabiting'] = Personal_Details['Years_Cohabiting'].cat.add_categories(0.0)
Personal_Details['Years_Cohabiting'].fillna(0.0, inplace = True)
Personal_Details = Personal_Details.replace({'Years_Cohabiting': {'Dont know': 0.0, 'Refused': 0.0, 'Missing': 0.0}})

Personal_Details['Current_Relationship_Status'] = Personal_Details['Current_Relationship_Status'].cat.add_categories('Single')
Personal_Details['Current_Relationship_Status'].fillna('Single', inplace = True)
Personal_Details = Personal_Details.replace({'Current_Relationship_Status': {'Don\'t know': 'Single', 'Refused': 'Single'}})

Personal_Details['Given_Birth'].fillna('No', inplace = True)

Personal_Details['Birth_Count'] = Personal_Details['Birth_Count'].cat.add_categories(0.0)
Personal_Details['Birth_Count'].fillna(0.0, inplace = True)

Personal_Details['Mother_Degrees'].fillna('No', inplace = True)
Personal_Details = Personal_Details.replace({'Mother_Degrees': {'Don\'t know': 'No', 'Refused': 'No', 'Missing':'No'}})

# 'Age_Highest_Grade_Completed' if we subtract 'Year_DOB' from 'Year_Highest_Grade_Completed'
Personal_Details['Age_Highest_Grade_Completed'].drop_duplicates()
#print(Personal_Details.iloc[:,17:])