In [2]:
# Initialisation Cell
from __future__ import print_function, division
from IPython.display import display, HTML, Javascript
from matplotlib import pyplot as plt
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

%matplotlib inline

sns.set_context("talk")
sns.set_style('darkgrid', {'figure.facecolor': '(0,0,0,0)'}) 
#'axes.facecolor': '(0,0,0,0)'

In [3]:
df = pd.read_stata('DataBase.dta')
#df['w5_a_dob_d']
df.columns
df.head()

,pid,w5_hhid,w5_questionnaire,w5_match,w5_edlstm_schcd,w5_edlstm_prov,w5_edlstm_quin,w5_edlstm_phase,w5_edlstm_nofee,w5_edlstm_exdept,...,w5_ed17m_schcd,w5_ed17m_prov,w5_ed17m_quin,w5_ed17m_phase,w5_ed17m_nofee,w5_ed17m_exdept,w5_poldistr_id_15,w5_poldistr_distance_cat_15,w5_polnear_id_15,w5_polnear_distance_cat_15
0,640576,500000,Adult,Matched Last only,102905,Eastern Cape,3,Secondary,Don't Know,HOR,...,NaN,NaN,NaN,NaN,NaN,NaN,900782.0,>1 & <=5km,900782.0,>1 & <=5km
1,636991,500000,Proxy,Unmatched: No School Data collected,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,900782.0,>1 & <=5km,900782.0,>1 & <=5km
2,405734,500001,Adult,Unmatched,NaN,NaN,Don't know,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,900587.0,<=1km,900587.0,<=1km
3,630858,500002,Child,No Schooling Completed,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,900093.0,>10 & <= 20km,901066.0,>10 & <= 20km
4,731651,500002,Adult,Matched Last only,105027,Limpopo,1,Secondary,No,Self-governing territories,...,NaN,NaN,NaN,NaN,NaN,NaN,900093.0,>10 & <= 20km,901066.0,>10 & <= 20km

# 0. ...A Catchy Title... (e.g. "Are people getting poorer?")

## Executive Summary
The purpose of the notebook is to analyse census and income data to determine if there is a correlation betweeen how much people earn today with regards to their buying power <this is only for now, pleas refine when we know more>
What is being modelled are the regression charts of earning amounts of the decade, graduation rates over the decade, as well as GDP and economic expenditure for citizens. Analysing all these simulataneously we have determined <please add in findings here>
Limitations have included, time, database availability, <add more with regards to data normalisation and standardization>

## Introduction

problem context: the landscape of SA today, with gross inequality and a widening financial gap we aim to see if people of SA, specifically the previously disadavantaged, have amassed more financial power as a result of greater access to education and employment opportunities. We are motivated by finding (a motiovation...)
Questions include: Is there a significant relationship between education and income level?
Methodology: We will take the data, Normalise the data to the 3rd normal form, we will then graph a set regression models that indicate the change over the years with regards to both eduation and income levels. We will then use the insights gained from this to formulate a response.
Section Contents Overview: the following will be a description of the original datasets, the changes perfromed on these datasets, and initial visualisations on data correlations.

## Data Wrangling
The data was originaly sourced from the [UCT NIDS databse] (http://www.nids.uct.ac.za/nids-data/program-library/derived-files) 
The date downloaded will be gotten from (Rutendo,pls ask)