# Group Members
1848660 - Rutendo Jambwa <br/>
1852529 - Bohlokoa Tilo <br/>
1908649 - Tieho Ramphore <br/>
1908664 - Thando Peter <br/>

In [1]:
# Initialisation Cell
from __future__ import print_function, division
from IPython.display import display, HTML, Javascript
from matplotlib import pyplot as plt
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

%matplotlib inline

sns.set_context("talk")
sns.set_style('darkgrid', {'figure.facecolor': '(0,0,0,0)'}) 
#'axes.facecolor': '(0,0,0,0)'

Group: Q
General Comments
Scope well defined
Check for typos and grammatical errors and fix them.
The executive summary should provide information on the overall structure of the project.
It would help if you did a little more to improve the content and presentation of the project.


    1. Title Present. Very interesting topic for the study. 
    2. Introduction
Problem context not clearly stated. 
The purpose of the study indicated and the scope well defined. Very good
Research Questions should be stated with question marks
    3. The methodology has been stated. Provide steps involved in achieving your objective for the study.
    4. Data Description
Access to data link and data size not provided. Year of data under study and date collected supplied with a full description of its structure. Good. 
    5. Data Wrangling
Data cleaning, transformations and analysis were done with some results presented. 
    6. Exploratory Analysis
Results presented. Provide a summary of the results provided to give a snapshot of what has been done.

In [2]:
import math
import statsmodels.api as sm
import statsmodels.formula.api as smf
#from sklearn.utils import resample
#from statsmodels.stats.outliers_influence import variance_inflation_factor

# Relationship between education and income level in South Africa
 
## Executive Summary
The purpose of the notebook is to analyse census and income data from [UCT NIDS databse](http://www.nids.uct.ac.za/nids-data/program-library/derived-files) to determine if there is a correlation between **how much people earn** and their **highest education level**(i.e primary,secondary or tertiary education) What is being modelled are the regression charts of earning amounts of the decade, graduation rates over the decade, as well as GDP and economic expenditure for citizens.Thus far,we have determined that:

  1)The largest group of participants were young (in their 20s).
  
  2)The majority was African/Black.
  
  3)Few participants completed tertiary education.
  
  4)Most people were in the R6 001 to R8 000 income bracket.
  
*The journey to coming to this stage had its perils. Some of those being:*

  1)Formulating a pertinent question.
  
  2)Finding an extensive dataset in the South African context.
  
  3)Dealing with and sorting out opaque variable names.

## Introduction
**Problem Context**: South Africa is known to be one of the most unequal societies in the world, with the World Bank reporting that 20% of people in South Africa control almost 70% of the resources. <br> **Motivation**:The financial gap is widening and we aim to see if people of SA, specifically the previously disadavantaged, have amassed more financial power as a result of greater access to education and employment opportunities.<br>**Questions include**: Is there a significant relationship between education and income level?How has this changed over time? What are the provincial differences?Are there any anomalies and if so, how do they affect the analysis.<br>**Methodology**: We will take the data, Normalise the data to the 3rd normal form, we will then graph a set regression models that indicate the change over the years with regards to both eduation and income levels. We will then use the insights gained from this to formulate a response.<br> 
**Section Contents Overview**: the following will be a description of the original datasets, the changes perfromed on these datasets, and initial visualisations on data correlations.

### Research question

Does education level correlate with the accumulation of wealth and employment opportunities in South Africa?

### Hypothesis
Individuals with high education levels are most likely to attain more employment opportunities and possibly wealth. Wealth accumulation is not solely dependent on employment opporunities and education level as a result of the high levels of racial inequility present in South Africa.

In order to test this hypothesis, variables of interest have been extracted and have been used to fit regression models to establish whether the variable are significantly related to the monthly earnings. In the following section, the data used in this project is described.

### Methodology
A brief overview of the methodology is as follows:<br/>
1. Read in data <br/>
2. Encode variables <br/>
3. ...

## Data Description

The National Income Dynamics Research (NIDS) is South Africa's first national longitudinal study and it served as the main dataset for our project. In 2008 NIDS had its first “Wave” of data collection, which resulted in the collection of a nationally representative sample of close to 7,300 households. The Waves that followed try to conduct interviews on the same households whenever possible. NIDS collects data on a wide range of human resource factors, labour force backgrounds, and demographic characteristics using a mix of household and individual level questionnaires.
For this project, we used the dataset from the 5th and latest Wave which took place between February 2017 and December 2017. We only considered the adult dataset as it contains data on the education, employment status, wages and possessions, among other pertinent variables, of the adults in a household.
The data was downloaded from [UCT NIDS databse](https://www.datafirst.uct.ac.za/dataportal/index.php/catalog/712/datafile/F2/?offset=100&limit=100) on the 22nd of March 2021 by Rutendo Jambwa. Thando and Bohlokoa cleaned the data by extracting the variables the group deemed relevant to our research and changing their names to improve readability. The resulting dataset had 166 columns and 30 110 entries. Thando further broke down the data into separate subsets, each focusing on specific aspects of the data (e.g. education, income sources, debt, etc..). After which, the individual subsets were further wrangled. To ensure data consistency, column values and data types were modified where necessary such that each column conforms to a single data type. An entry was removed if it had missing values across all columns. In most cases, where possible, missing values were either filled in using some methods or replaced with standard indicators of missing data (i.e. 9999, 00, etc..).

### Reading in the data

In [3]:
#importing data infto dataframe 'df'
df = pd.read_stata('DAE-Data/adult_dataset.dta')

#selecting specific columns from "df"
df_filtered = df[
    ['w5_hhid','w5_a_sample','w5_a_dob_m','w5_a_dob_y','w5_a_gen','w5_a_popgrp','w5_a_mar','w5_a_mary_m','w5_a_mary_l','w5_a_curmarst',
     'w5_a_bhbrth','w5_a_bhcnt1con','w5_a_bhlive','w5_a_mthtertyn','w5_a_mthtert','w5_a_fthtert_o','w5_a_em1','w5_a_em1strty','w5_a_em1inc','w5_a_em1pay',
     'w5_a_em1inc_cat','w5_a_em1hrs','w5_a_em1prf','w5_a_em1prf_a','w5_a_em1prflm','w5_a_em1prflm_a','w5_a_em1bon','w5_a_em1bon_a','w5_a_em1bonlm','w5_a_em1bonlm_a',
     'w5_a_em1pcrt','w5_a_em1pcrt_a','w5_a_em1pcrtlm','w5_a_em1pcrtlm_a','w5_a_em2','w5_a_em2inc','w5_a_em2pay','w5_a_em2inc_cat','w5_a_ems','w5_a_emssll',
     'w5_a_emslft','w5_a_emsincfr_a','w5_a_incgovpen','w5_a_incgovpen_v','w5_a_incdis','w5_a_incdis_v','w5_a_incchld','w5_a_incchld_v','w5_a_incfos','w5_a_incfos_v',
     'w5_a_inccare','w5_a_inccare_v','w5_a_incaid','w5_a_incaid_v','w5_a_incwar','w5_a_incwar_v','w5_a_incuif','w5_a_incuif_v','w5_a_incwc','w5_a_incwc_v',
     'w5_a_incpfnd','w5_a_incpfnd_v','w5_a_incret','w5_a_incret_v','w5_a_incretp','w5_a_incretp_v','w5_a_incrnt','w5_a_incrnt_v','w5_a_incint','w5_a_incint_v',
     'w5_a_incretr','w5_a_incretr_v','w5_a_incinh','w5_a_incinh_v','w5_a_inclob','w5_a_inclob_v','w5_a_incgif','w5_a_incgif_v','w5_a_incloan',
     'w5_a_incloan_v','w5_a_incsale','w5_a_incsale_v','w5_a_inco','w5_a_inco_o','w5_a_inco_v','w5_a_cr',
     'w5_a_edschgrd','w5_a_edschyr','w5_a_edschage','w5_a_ednsc','w5_a_edexemp','w5_a_edschmth','w5_a_edschmth_o','w5_a_edter',
     'w5_a_edterlev','w5_a_edterlev_o','w5_a_edteryr','w5_a_edrep','w5_a_ed17cur',
     'w5_a_ed17curlev_o','w5_a_edlitcomp','w5_a_edlitrden','w5_a_edlitwrten','w5_a_fwbrelinc',
     'w5_a_fwbstp15','w5_a_fwbstp5yr','w5_a_fwbinc5yr','w5_a_recinh','w5_a_recjob','w5_a_recprof','w5_a_recfin',
     'w5_a_reclob','w5_a_recoth','w5_a_ownveh','w5_a_ownveh_v','w5_a_ownmot',
     'w5_a_ownmot_v','w5_a_dtbnd','w5_a_dtbnd_b','w5_a_dtbnd_joint','w5_a_ownoth_ind','w5_a_ownowdtot_indshare','w5_a_dtveh','w5_a_dtveh_b',
     'w5_a_dtveh_joint','w5_a_dtbnk','w5_a_dtbnk_b','w5_a_dtmic','w5_a_dtmic_b',
     'w5_a_dtstubnk','w5_a_dtstubnk_b','w5_a_dtstuo','w5_a_dtstuo_b','w5_a_dtcre','w5_a_dtcre_b','w5_a_dtstr','w5_a_dtstr_b','w5_a_dthp','w5_a_dthp_b',
     'w5_a_dtflloan','w5_a_dtflloan_b','w5_a_dtfrloan','w5_a_dtfrloanbal','w5_a_dtmsh','w5_a_dtmsh_b','w5_a_dtemploan','w5_a_dtemploan_b','w5_a_dtunpdtax','w5_a_dtunpdtax_b',
     'w5_a_dtserarr','w5_a_dtserarr_b','w5_a_dtoth1','w5_a_dtoth1_o','w5_a_dtoth1_b',
     'w5_a_aspen','w5_a_aspen_v','w5_a_aspen_cat','w5_a_asfin','w5_a_asfin_v','w5_a_asfin_cat','w5_a_asacc','w5_a_asacc_v',
     'w5_a_asacc_cat','w5_a_dtacc_cat','w5_a_assell','w5_a_assell_v']]

#df_filtered

In [4]:
#column renaming
pd.set_option('mode.chained_assignment', None)
#dictionary for the new column names: key = old name & value = new name
dict={'w5_hhid':'Household_Identifier','w5_a_sample':'Sample_Origin','w5_a_dob_m':'Month_DOB','w5_a_dob_y':'Year_DOB','w5_a_gen':'Gender',
      'w5_a_popgrp':'Population_Group','w5_a_mar':'Married_Cohabitation','w5_a_mary_m':'Years_Married','w5_a_mary_l':'Years_Cohabiting',
      'w5_a_curmarst':'Current_Relationship_Status','w5_a_bhbrth':'Given_Birth','w5_a_bhcnt1con':'Birth_Count','w5_a_bhlive':'Biological_Children_Living',
      'w5_a_mthtertyn':'Mother_Degrees','w5_a_mthtert':'Mother_Highest_Tertiary','w5_a_fthtert_o':'Father_Highest_Tertiary','w5_a_em1':'Employment_Payment',
      'w5_a_em1strty':'Primary_Occupation','w5_a_em1inc':'Primary_Gross_Income_Month','w5_a_em1pay':'Primary_Net_Income_Month','w5_a_em1inc_cat':'Main_Job_Income_Category',
      'w5_a_em1hrs':'Work_Week_Hours','w5_a_em1prf':'Rec_Share_Profit_Year','w5_a_em1prf_a':'Share_Profit_Year','w5_a_em1prflm':'Rec_Share_Profit_Month',
      'w5_a_em1prflm_a':'Share_Profit_Month','w5_a_em1bon':'Rec_Bonus_Year','w5_a_em1bon_a':'Other_Bonus_Year','w5_a_em1bonlm':'Rec_Bonus_Month',
      'w5_a_em1bonlm_a':'Other_Bonus_Month','w5_a_em1pcrt':'Rec_Extra_Income_Year','w5_a_em1pcrt_a':'Extra_Income_Year','w5_a_em1pcrtlm':'Rec_Extra_Income_Month',
      'w5_a_em1pcrtlm_a':'Extra_Income_Month','w5_a_em2':'Have_Secondary_Occupation','w5_a_em2inc':'Secondary_Gross_Income','w5_a_em2pay':'Secondary_Net_Income',
      'w5_a_em2inc_cat':'Secondary_Income_Category','w5_a_ems':'Is_Self_Employed','w5_a_emssll':'Net_After_Liabilities','w5_a_emslft':'Amount_Left_Over',
      'w5_a_emsincfr_a':'Month_Take_Home_Salary','w5_a_incgovpen':'Pension','w5_a_incgovpen_v':'Pension_Amount','w5_a_incdis':'Disability_Grant',
      'w5_a_incdis_v':'Disability_Grant_Amount','w5_a_incchld':'Child_Support','w5_a_incchld_v':'Child_Support_Amount','w5_a_incfos':'Foster_Care_Grant',
      'w5_a_incfos_v':'Foster_Care_Grant_Amount','w5_a_inccare':'Dependency_Grant','w5_a_inccare_v':'Dependency_Grant_Amount','w5_a_incaid':'Grant_In_Aid',
      'w5_a_incaid_v':'Grant_In_Aid_Amount','w5_a_incwar':'War_Veterans_Pension','w5_a_incwar_v':'War_Veterans_Pension_Amount','w5_a_incuif':'UIF',
      'w5_a_incuif_v':'UIF_Amount','w5_a_incwc':'Workers_Compensation','w5_a_incwc_v':'Workers_Compensation_Amount','w5_a_incpfnd':'Provident_Fund',
      'w5_a_incpfnd_v':'Provident_Fund_Amount','w5_a_incret':'Private_Retirement_Annuity','w5_a_incret_v':'Private_Retirement_Annuity_Amount',
      'w5_a_incretp':'Retirement_Package','w5_a_incretp_v':'Retirement_Package_Amount','w5_a_incrnt':'Rental_Income','w5_a_incrnt_v':'Rental_Income_Amount',
      'w5_a_incint':'Interest_Earnings','w5_a_incint_v':'Interest_Earnings_Amount','w5_a_incretr':'Retrenchment_Package','w5_a_incretr_v':'Retrenchment_Package_Amount',
      'w5_a_incinh':'Inheritances','w5_a_incinh_v':'Inheritances_Amount','w5_a_inclob':'Lobola','w5_a_inclob_v':'Lobola_Amount','w5_a_incgif':'Gifts',
      'w5_a_incgif_v':'Gifts_Amount','w5_a_incloan':'Loan_Repayments','w5_a_incloan_v':'Loan_Repayments_Amount','w5_a_incsale':'Sale_Household_Goods',
      'w5_a_incsale_v':'Sale_Household_Goods_Amount','w5_a_inco':'Other_Income','w5_a_inco_o':'Other_Income_Recipient','w5_a_inco_v':'Other_Income_Value',
      'w5_a_cr':'Non_Household_Residents_Contributions','w5_a_edschgrd':'Highest_Grade_Completed','w5_a_edschyr':'Year_Highest_Grade_Completed',
      'w5_a_edschage':'Age_Highest_Grade_Completed','w5_a_ednsc':'Highest_Grade_Completed_Pass_Type','w5_a_edexemp':'Matric_University_Exemption',
      'w5_a_edschmth':'Math_Highest_Grade_Completed','w5_a_edschmth_o':'Other_Math_Highest_Grade_Completed','w5_a_edter':'Tertiary_Completed',
      'w5_a_edterlev':'Highest_Tertiary_Completed','w5_a_edterlev_o':'Other_Highest_Tertiary_Completed','w5_a_edteryr':'Year_Tertiary_Completed',
      'w5_a_edrep':'Repeated_School_Grades','w5_a_ed17cur':'Currently_Enrolled_School','w5_a_ed17curlev_o':'Other_Currently_Enrolled_School',
      'w5_a_edlitcomp':'Computer_Literate','w5_a_edlitrden':'English_Reading_Level','w5_a_edlitwrten':'English_Writing_Level','w5_a_fwbrelinc':'Household_Income_Classification',
      'w5_a_fwbstp15':'Household_Income_Step_15_Years','w5_a_fwbstp5yr':'Household_Income_Step_In_5_Years','w5_a_fwbinc5yr':'Household_Expected_Income_In_5_Years',
      'w5_a_recinh':'Income_Inheritance','w5_a_recjob':'Income_Job_Payout','w5_a_recprof':'Income_Property_Sale','w5_a_recfin':'Income_Financial_Product',
      'w5_a_reclob':'Income_Lobola','w5_a_recoth':'Income_Other_Payout','w5_a_ownveh':'Vehicle_Owner','w5_a_ownveh_v':'Resale_Vehicle','w5_a_ownmot':'Motorcycle_Owner',
      'w5_a_ownmot_v':'Resale_Motorcycle','w5_a_dtbnd':'Has_Home_Loan','w5_a_dtbnd_b':'Home_Loan_Balance','w5_a_dtbnd_joint':'Home_Loan_Joint_Or_Sole',
      'w5_a_ownoth_ind':'Other_Property','w5_a_ownowdtot_indshare':'Other_Property_Balance','w5_a_dtveh':'Vehicle_Payment','w5_a_dtveh_b':'Vehicle_Payment_Balance',
      'w5_a_dtveh_joint':'Vehicle_Payment_Joint_Or_Sole','w5_a_dtbnk':'Bank_Personal_Loan','w5_a_dtbnk_b':'Bank_Personal_Loan_Balance',
      'w5_a_dtmic':'Micro_Lender_Loan','w5_a_dtmic_b':'Micro_Lender_Loan_Balance','w5_a_dtstubnk':'Bank_Study_Loan','w5_a_dtstubnk_b':'Bank_Study_Loan_Balance',
      'w5_a_dtstuo':'Other_Study_Loan','w5_a_dtstuo_b':'Other_Study_Loan_Balance','w5_a_dtcre':'Credit_Card','w5_a_dtcre_b':'Credit_Card_Balance',
      'w5_a_dtstr':'Store_Card','w5_a_dtstr_b':'Store_Card_Balance','w5_a_dthp':'Hire_Purchase_Agreement','w5_a_dthp_b':'Hire_Purchase_Agreement_Balance',
      'w5_a_dtflloan':'Family_Member_Loan','w5_a_dtflloan_b':'Family_Member_Loan_Balance','w5_a_dtfrloan':'Friend_Loan','w5_a_dtfrloanbal':'Friend_Loan_Balance',
      'w5_a_dtmsh':'Mashonisa_Loan','w5_a_dtmsh_b':'Mashonisa_Loan_Balance','w5_a_dtemploan':'Employer_Loan','w5_a_dtemploan_b':'Employer_Loan_Balance',
      'w5_a_dtunpdtax':'Unpaid_Tax','w5_a_dtunpdtax_b':'Unpaid_Tax_Balance','w5_a_dtserarr':'Monthly_Arrears','w5_a_dtserarr_b':'Monthly_Arrears_Balance',
      'w5_a_dtoth1':'Other_Debts','w5_a_dtoth1_o':'Other_Other_Debts','w5_a_dtoth1_b':'Other_Debts_Balance','w5_a_aspen':'Pension_Annuity',
      'w5_a_aspen_v':'Pension_Annuity_Amount','w5_a_aspen_cat':'Pension_Annuity_Category','w5_a_asfin':'Shares','w5_a_asfin_v':'Shares_Amount',
      'w5_a_asfin_cat':'Shares_Category','w5_a_asacc':'Bank_Account','w5_a_asacc_v':'Bank_Account_Balance','w5_a_asacc_cat':'Bank_Account_Category',
      'w5_a_assell':'Possessions_Net_Value','w5_a_assell_v':'Possessions_Net_Value_Balance'}
df_filtered.rename(columns = dict,inplace = True)

df_filtered['Population_Group'] = df_filtered['Population_Group'].cat.add_categories('Unknown')
df_filtered['Population_Group'].fillna('Unknown', inplace = True)

display(df_filtered)

,Household_Identifier,Sample_Origin,Month_DOB,Year_DOB,Gender,Population_Group,Married_Cohabitation,Years_Married,Years_Cohabiting,Current_Relationship_Status,...,Pension_Annuity_Category,Shares,Shares_Amount,Shares_Category,Bank_Account,Bank_Account_Balance,Bank_Account_Category,w5_a_dtacc_cat,Possessions_Net_Value,Possessions_Net_Value_Balance
0,500000,2017 sample,March,1980,Male,Coloured,Formally married,5,NaN,NaN,...,NaN,No,NaN,NaN,Yes,Dont know,Refused,NaN,Something left over,150000
1,500001,2008 sample,October,1993,Male,African,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,Yes,0,NaN,NaN,Don't know,NaN
2,500002,2008 sample,September,1979,Female,African,Formally married,13,NaN,NaN,...,NaN,No,NaN,NaN,Yes,4000,NaN,NaN,Something left over,Dont know
3,500002,2008 sample,August,1972,Male,African,Formally married,15,NaN,NaN,...,NaN,No,NaN,NaN,Yes,10000,NaN,NaN,Something left over,Dont know
4,500003,2008 sample,December,1967,Male,African,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,No,NaN,NaN,NaN,Refused,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30105,513781,2008 sample,December,1985,Male,African,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,No,NaN,NaN,NaN,Something left over,1000
30106,513782,2008 sample,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30107,513782,2008 sample,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30108,513782,2008 sample,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30109,513783,2008 sample,December,1985,Female,African,Formally married,6,NaN,NaN,...,NaN,No,NaN,NaN,Yes,0,NaN,NaN,In debt,NaN

As can be seen above the data set has 30 110 entries each with at most 180 filled columns. The pertinent information captured in the dataframe is as follows:

#### Population Group
Categories of race groups in South Africa including:
- Missing
- African(Black)
- Coloured
- Asian/Indian
- White
- Other

#### Gender
Categories include:
- Male
- Female

#### Married Cohabitation
participants fall into the following Categories:
- Don't Know
- Refused (to give answer)
- Missing
- Formally Married
- Living Together
- Not Living Together

#### Number of years Married
a value for how long participants have been married.

# (Will add others as is necessary)

### Quality Analysis

After having analysed the whole dataset it can be stated that the data is of good quality. Specific details are highlighted and discussed below.

In [5]:
#Viewing entries to determine if a standard is maintained
df_filtered.head(20)

,Household_Identifier,Sample_Origin,Month_DOB,Year_DOB,Gender,Population_Group,Married_Cohabitation,Years_Married,Years_Cohabiting,Current_Relationship_Status,...,Pension_Annuity_Category,Shares,Shares_Amount,Shares_Category,Bank_Account,Bank_Account_Balance,Bank_Account_Category,w5_a_dtacc_cat,Possessions_Net_Value,Possessions_Net_Value_Balance
0,500000,2017 sample,March,1980,Male,Coloured,Formally married,5,NaN,NaN,...,NaN,No,NaN,NaN,Yes,Dont know,Refused,NaN,Something left over,150000
1,500001,2008 sample,October,1993,Male,African,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,Yes,0,NaN,NaN,Don't know,NaN
2,500002,2008 sample,September,1979,Female,African,Formally married,13,NaN,NaN,...,NaN,No,NaN,NaN,Yes,4000,NaN,NaN,Something left over,Dont know
3,500002,2008 sample,August,1972,Male,African,Formally married,15,NaN,NaN,...,NaN,No,NaN,NaN,Yes,10000,NaN,NaN,Something left over,Dont know
4,500003,2008 sample,December,1967,Male,African,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,No,NaN,NaN,NaN,Refused,NaN
5,500003,2008 sample,December,1991,Female,African,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,Yes,1500,NaN,NaN,Don't know,NaN
6,500003,2008 sample,April,1954,Female,African,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,Yes,4000,NaN,NaN,Don't know,NaN
7,500003,2008 sample,February,1977,Male,African,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,Yes,0,NaN,NaN,Don't know,NaN
8,500004,2008 sample,June,1967,Female,African,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,Yes,400,NaN,NaN,Something left over,8000
9,500005,2008 sample,June,1977,Male,Coloured,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,Yes,1070,NaN,NaN,Something left over,360000
10,500006,2008 sample,February,1993,Female,African,Living together,NaN,8,NaN,...,NaN,No,NaN,NaN,No,NaN,NaN,NaN,Something left over,200000
11,500006,2008 sample,November,1972,Female,African,NaN,NaN,NaN,NaN,...,Don't Know,No,NaN,NaN,Yes,0,NaN,NaN,Something left over,90000
12,500006,2008 sample,September,1954,Female,African,Formally married,46,NaN,NaN,...,NaN,No,NaN,NaN,Yes,7000,NaN,NaN,Something left over,10000
13,500006,2008 sample,September,1950,Male,African,Formally married,46,NaN,NaN,...,Refused,No,NaN,NaN,Yes,Dont know,"R5,000",NaN,Breakeven,NaN
14,500006,2008 sample,October,1989,Male,African,Living together,NaN,8,NaN,...,NaN,No,NaN,NaN,Yes,0,NaN,NaN,Something left over,300000
15,500007,2008 sample,February,1968,Male,African,Formally married,7,NaN,NaN,...,NaN,No,NaN,NaN,Yes,Refused,"R5,001-R49,999",NaN,Something left over,300000
16,500007,2008 sample,July,1983,Female,African,Formally married,7,NaN,NaN,...,NaN,No,NaN,NaN,Yes,3500,NaN,NaN,Breakeven,NaN
17,500008,2008 sample,June,1998,Male,African,NaN,NaN,NaN,NaN,...,NaN,No,NaN,NaN,No,NaN,NaN,NaN,Breakeven,NaN
18,500008,2008 sample,February,1960,Male,African,NaN,20,NaN,NaN,...,NaN,No,NaN,NaN,Yes,0,NaN,NaN,Breakeven,NaN
19,500009,2008 sample,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Off of the first set of entries it can be seen that all the entries follow a standard that was prioritised during data collection. This also means that the values are consistent and realistic. 
### Expand on this??

In [6]:
#Viewing data types in dataframe
#df_filtered.info(verbose=True,null_counts=True)
#Viewing number of null entries
#nrows_missing = df_filtered.isnull().sum().sum()
#print('Rows with missing data: ',nrows_missing)
#ncols_missing=len(df_missing)
#print('Number of columns with missing values: ',ncols_missing)

As can be seen in the above the information each column has a set data type that is adhered to throughout the dataset, this means the data present follows a set of decided categories, is a value, or is null. Given the above it can be seen that most columns have null values, this is due to the nature of questioning, there are many factors that a participant may not be part of which are then left null. Included in the dataframe are sample entries which contain null values, given that they have unique house_identifier codes they can be cross-referenced to exisitng entries and be removed if they don't match other entries in the dataframe.

Given the size of the dataset and number of present variables per entry we feel that the above dataframe is more than adequate to answer the questions we have regarding income/wealth levels and how they may relate to a series of determining factors. The dataset contains information from the same households over many years which will be instrumental in understanding both income over the course of the decade and wealth generation for the households in the dataset, understanding factors such as the rise/stagnation of education levels and income levels, as well as rising family numbers contrasted with rising debt or a lack of asset accumulation.

# Still needed: data validations

Wrangling TO-DO:
- Remove Duplicates (cross reference sample entries and remove if unique)
- Calculate net worth
- Construct relation databases

TODO: Describe the data that the Personal_Details table contains. Write down each column and the values that they contain. 
TODO: The types for some of the columns are wrong. Categories are objects and some float columns are also objects.
TODO: Mother_Highest_Tertiary, Highest_Tertiary_Completed does not have the right catogarical values.

In [7]:
df_filtered = df_filtered.dropna(subset=['Year_DOB', 'Gender'])
Personal_Details = df_filtered[['Household_Identifier','Month_DOB','Year_DOB','Gender','Population_Group','Married_Cohabitation','Years_Married','Years_Cohabiting','Current_Relationship_Status',
              'Given_Birth','Birth_Count','Biological_Children_Living','Mother_Degrees','Mother_Highest_Tertiary','Father_Highest_Tertiary','Employment_Payment',
              'Highest_Grade_Completed','Year_Highest_Grade_Completed','Age_Highest_Grade_Completed','Highest_Grade_Completed_Pass_Type','Matric_University_Exemption','Math_Highest_Grade_Completed',
                'Other_Math_Highest_Grade_Completed','Tertiary_Completed','Highest_Tertiary_Completed','Other_Highest_Tertiary_Completed','Year_Tertiary_Completed',
              'Repeated_School_Grades','Currently_Enrolled_School','Other_Currently_Enrolled_School','Computer_Literate','English_Reading_Level','English_Writing_Level']]
#
# Drop columns with no data
Personal_Details = Personal_Details.dropna(subset=['Year_DOB', 'Gender'])

Personal_Details = Personal_Details.replace({'Year_DOB': {'Don\'t know': 1950.0}})
Personal_Details['Year_DOB'] = Personal_Details['Year_DOB'].astype(str).astype(float)

# Group non-cohabitation categories
Personal_Details['Married_Cohabitation'] = Personal_Details['Married_Cohabitation'].cat.add_categories('No')
Personal_Details['Married_Cohabitation'].fillna('No', inplace = True)
Personal_Details = Personal_Details.replace({'Married_Cohabitation': {'Not living together': 'No', 'Don\'t know': 'No', 'Missing': 'No', 'Refused': 'No'}})

Personal_Details['Years_Married'] = Personal_Details['Years_Married'].cat.add_categories(0.0)
Personal_Details['Years_Married'].fillna(0.0, inplace = True)
Personal_Details = Personal_Details.replace({'Years_Married': {'Dont know': 0.0, 'Missing': 0.0}})

Personal_Details['Years_Cohabiting'] = Personal_Details['Years_Cohabiting'].cat.add_categories(0.0)
Personal_Details['Years_Cohabiting'].fillna(0.0, inplace = True)
Personal_Details = Personal_Details.replace({'Years_Cohabiting': {'Dont know': 0.0, 'Refused': 0.0, 'Missing': 0.0}})

Personal_Details['Current_Relationship_Status'] = Personal_Details['Current_Relationship_Status'].cat.add_categories('Single')
Personal_Details['Current_Relationship_Status'].fillna('Single', inplace = True)
Personal_Details = Personal_Details.replace({'Current_Relationship_Status': {'Don\'t know': 'Single', 'Refused': 'Single'}})

Personal_Details['Given_Birth'].fillna('No', inplace = True)

Personal_Details['Birth_Count'] = Personal_Details['Birth_Count'].cat.add_categories(0.0)
Personal_Details['Birth_Count'].fillna(0.0, inplace = True)

Personal_Details['Mother_Degrees'].fillna('No', inplace = True)
Personal_Details = Personal_Details.replace({'Mother_Degrees': {'Don\'t know': 'No', 'Refused': 'No', 'Missing':'No'}})

Personal_Details['Year_Highest_Grade_Completed'] = Personal_Details['Year_Highest_Grade_Completed'].cat.add_categories(0.0)
Personal_Details['Year_Highest_Grade_Completed'].fillna(0.0, inplace = True)
Personal_Details = Personal_Details.replace({'Year_Highest_Grade_Completed': {'Missing':0.0 ,'Not Applicable': 0.0, 'Refused': 0.0, 'Don\'t know': 0.0}})

# 'Age_Highest_Grade_Completed' if we subtract 'Year_DOB' from 'Year_Highest_Grade_Completed'
Personal_Details['Age_Highest_Grade_Completed'] = Personal_Details['Age_Highest_Grade_Completed'].cat.add_categories(0.0)
Personal_Details['Age_Highest_Grade_Completed'].fillna(0.0, inplace = True)
Personal_Details = Personal_Details.replace({'Age_Highest_Grade_Completed': {'Missing':0.0 ,'Not applicable': 0.0, 'Refused': 0.0, 'Dont know': 0.0}})
Age_Highest_Grade_Completed = Personal_Details['Year_Highest_Grade_Completed'] - Personal_Details['Year_DOB']
for i, v in Age_Highest_Grade_Completed.items():
    if(Personal_Details['Age_Highest_Grade_Completed'][i] == 0 and v>0):
        Personal_Details['Age_Highest_Grade_Completed'][i] = v
        
#Replacing the values of the highest grade achieved column with the terms currently used
new_edu_vals = {'Grade R/0':'Grade R','Grade 1/Sub A/Class 1':'Grade 1','Grade 2/Sub B/Class 2':'Grade 2','Grade 3/Std. 1':'Grade 3','Grade 4/Std. 2':'Grade 4','Grade 5/Std. 3':'Grade 5','Grade 6/Std. 4':'Grade 6','Grade 8/Std. 6/Form 1':'Grade 8','Grade 12/Std. 10/Form 5/Matric/Senior Certificate':'Grade 12','Grade 10/Std. 8/Form 3':'Grade 10','Grade 11/Std. 9/Form 4':'Grade 11','Grade 9/Std. 7/Form 2':'Grade 9','Grade 7/Std. 5':'Grade 7'}
Personal_Details = Personal_Details.replace({'Math_Highest_Grade_Completed': new_edu_vals}) # The data still has random numbers and vocational certificates
Personal_Details = Personal_Details.replace({'Highest_Grade_Completed': new_edu_vals})
    
Personal_Details = Personal_Details.replace({'Other_Math_Highest_Grade_Completed': {'':'No','N6 Deploma':'No','N6 Diploma':'No','Respondent Say All Levels':'Grade 12','Didn\'T Do Mathematics At School. It Used To Be Called Dipalo Back Then.':'No','According To The Respondent She Never Did Mathematics At School':'No','The Respondent Said She Didnt Do Any Mathematics Course But She Did An Arethmatic':'No','Respondent Never Had Mathemetics On School But Had Accountncy Instead':'No','The Respondent Say\'S She Did Not Do Mathematics At School':'No','The Respondent Say He Never Did Mathematics At School':'No','No Mathematics In Dissabled School.':'No','Never Did Mathematics At School.':'No','-3':'No','Respondent Never Did Mathematics At School':'No','The Respondent Never Did Matahematics At School.':'No','The Respondent Says She Never Did Mathematics At School.':'No','The Respondent Says He Never Did Mathematics At School':'No','She Was In Disabled School':'No','The Respondent Does Not Remember':'No','Respondent Did Not Do Mathematics At School.':'No','Not At All':'No','He Confirmed That He Nver Studied Mathematics':'No','No Grades':'No','Thr Respondent Never Did Mathematics At Work':'No','No Grades Respondent Attenden A Special School':'No','Never':'No','Maths Leteracy':'No','Never Did Mathematics At School. He\'S Doing Maths Literary.':'No','The Respondend Says She Never Studied Mathematics At School':'No','A-Level':'Grade 12','The Respondent Ddnt Do Maths At School':'No','Ptc':'No','He Did Not Do Mathematics':'No','Didnt Finish School Left After Standard 5':'No','None':'No','He Didn\'T Study Maths':'No','Cop Is What The Respondent Studied From Over Seas He Used The American Syllabus Not From South Africa':'No','There Was No Mathematics As A Subject Back When She Was Still In School.':'No','She Did Mathematics Up Until Her A Level(Grade 12)':'No','The Was No Mathematics At The Time He Was Schooling':'No','Sester(Grade 6 In Mozambican Education System)':'No','Nover Did Mathematics':'No','Never Did Maths At All':'No','Never Had Any Maths As Subject In School':'No','Didnt Pass With Maths':'No','She Was Attending Special School':'No','Form 6':'Grade 12','No Grades Its A Special .School':'No','Not Doing Grades':'No','Respondent Never Did Mathematics At School.':'No','She Never Did Mathematics At School':'No','I Didnt I Left School Early':'No','He Never Did Mathematics':'No','Never Studied Maths':'No','Did Not Have Mathematics That Time':'No','Form C':'Grade 10','Jc':'No','The Respondent Say She Never Study Mathematics At School':'No','A Level(Grade 12)':'Grade 12','The Respondent Says She Never Did Matric':'Grade 11','She Did Mathematics Till She Completed School':'Grade 12','He Did To It Untill He Finish School.':'Grade 12','According To The Respondent He Never Did Mathematics At School':'No','According To The Respondent She Never Did Maths At Schoool':'No','He Is Attending Trade School':'No','She Didn\'T Study Mathematics':'No','The Respondent Says She Ddnt Do Mathematics':'No','Respondent Says She Did Arithmetic And Not Mathematics.':'No','The Respondent Says She Ddnt Do Mathematics At School':'No','She Did Not Do Mathematics At School.':'No','Did Not Do Maths':'No','They Just Teach Them How To Their Self Only':'No','Never Did Maths':'No','The Was No At The Time He Was Schooling':'No','Never Did Mathematics At School. She\'S Doing Maths Literacy.':'No','Respondent Didn\'T Do Mathtematics At School.':'No','He Was Attending A Special School, Did Not Have Grade.':'No','Never Did Mathematics At School. Was Doing Maths Literacy.':'No','She Says She Never Did Mathematics At School':'No','The Respondent Says He Has Never Done Mathematics At School.':'No','The Respondent Sais She Never Studied Mathematics':'No','Didn\'T Do Mathematics At School':'No','Did Not Do Mathematics':'No','Did Not Do Mathematics At All':'No','Respondent Never Id Pure Mathemathics At School':'No','Did Not Do Maths At High School':'No','Never Did Mathematics':'No'}})
Personal_Details['Other_Math_Highest_Grade_Completed'] = Personal_Details['Other_Math_Highest_Grade_Completed'].astype('category')

Personal_Details['Highest_Tertiary_Completed'] = Personal_Details['Highest_Tertiary_Completed'].cat.add_categories('None')
Personal_Details['Highest_Tertiary_Completed'].fillna( 'None', inplace = True)
Personal_Details = Personal_Details.replace({'Highest_Tertiary_Completed': {'Missing':'None' , 'Refused':'None' , 'Don\'t know':'None' }})
Personal_Details['Highest_Tertiary_Completed'] = Personal_Details['Highest_Tertiary_Completed'].astype('category')

Personal_Details['Tertiary_Completed'].fillna( 'No', inplace = True)
Personal_Details = Personal_Details.replace({'Tertiary_Completed': {'Missing':'No' , 'Refused':'No' , 'Don\'t know':'No' }})
Personal_Details['Tertiary_Completed'][i] = ('Yes' for i, v in Personal_Details['Highest_Tertiary_Completed'] if v!='None')
Personal_Details['Tertiary_Completed'][30109] = 'No'
Personal_Details['Tertiary_Completed'] = Personal_Details['Tertiary_Completed'].astype('category')

Personal_Details = Personal_Details.replace({'Year_Tertiary_Completed': {'Missing':None , 'Not Applicable':None , 'Refused':None , 'Don\'t know':None }})

Personal_Details = Personal_Details.replace({'Repeated_School_Grades': {'Missing':None , 'Refused':None , 'Don\'t know':None }})
Personal_Details['Repeated_School_Grades'] = Personal_Details['Repeated_School_Grades'].astype('category')

Personal_Details['Currently_Enrolled_School'].fillna( 'No', inplace = True)
Personal_Details = Personal_Details.replace({'Currently_Enrolled_School': {'Missing':'No' , 'Refused':'No' , 'Don\'t know':'No' }})

Personal_Details['Computer_Literate'].fillna( 'No', inplace = True)
Personal_Details = Personal_Details.replace({'Computer_Literate': {'Missing':'No' , 'Refused':'No' , 'Don\'t know':'No' }})
Personal_Details['Computer_Literate'] = Personal_Details['Computer_Literate'].astype('category')

Personal_Details['English_Reading_Level'].fillna( 'Not well', inplace = True)
Personal_Details = Personal_Details.replace({'English_Reading_Level': {'Missing':'Not well' , 'Refused':'Not well' , 'Don\'t know':'Not well' }})
Personal_Details['English_Reading_Level'] = Personal_Details['English_Reading_Level'].astype('category')

Personal_Details['English_Writing_Level'].fillna( 'Not well', inplace = True)
Personal_Details = Personal_Details.replace({'English_Writing_Level': {'Missing':'Not well' , 'Refused':'Not well' , 'Don\'t know':'Not well' }})
Personal_Details['English_Writing_Level'] = Personal_Details['English_Writing_Level'].astype('category')

display(Personal_Details)

,Household_Identifier,Month_DOB,Year_DOB,Gender,Population_Group,Married_Cohabitation,Years_Married,Years_Cohabiting,Current_Relationship_Status,Given_Birth,...,Tertiary_Completed,Highest_Tertiary_Completed,Other_Highest_Tertiary_Completed,Year_Tertiary_Completed,Repeated_School_Grades,Currently_Enrolled_School,Other_Currently_Enrolled_School,Computer_Literate,English_Reading_Level,English_Writing_Level
0,500000,March,1980.0,Male,Coloured,Formally married,5.0,0.0,Single,No,...,Yes,Honours Degree,,2010.0,NaN,No,,Yes highly literate,Not well,Not well
1,500001,October,1993.0,Male,African,No,0.0,0.0,Single,No,...,No,None,,NaN,Yes,No,,Yes basic use,Fair,Fair
2,500002,September,1979.0,Female,African,Formally married,13.0,0.0,Single,Yes,...,Yes,Certificate not requiring Grade 12/Std. 10,,2011.0,NaN,No,,Yes highly literate,Fair,Not well
3,500002,August,1972.0,Male,African,Formally married,15.0,0.0,Single,No,...,Yes,Certificate not requiring Grade 12/Std. 10,,2017.0,NaN,No,,Yes highly literate,Fair,Fair
4,500003,December,1967.0,Male,African,No,0.0,0.0,Single,No,...,No,None,,NaN,NaN,No,,No,Not well,Not at all
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30102,513778,December,1983.0,Female,African,No,0.0,0.0,Single,Yes,...,Yes,Certificate not requiring Grade 12/Std. 10,,2014.0,NaN,No,,Yes basic use,Very well,Very well
30103,513779,September,1990.0,Male,African,No,0.0,0.0,Single,No,...,No,None,,NaN,Yes,No,,Yes highly literate,Very well,Fair
30104,513780,December,1982.0,Male,Coloured,No,0.0,0.0,Divorced or separated,No,...,Yes,Certificate requiring Grade 12/Std. 10,,2007.0,NaN,No,,Yes basic use,Very well,Very well
30105,513781,December,1985.0,Male,African,No,0.0,0.0,Single,No,...,No,None,,NaN,NaN,No,,Yes basic use,Very well,Very well
30109,513783,December,1985.0,Female,African,Formally married,6.0,0.0,Single,No,...,No,None,,NaN,NaN,No,,No,Very well,Very well

TODO: Describe the data that the Asset_Details table contains. Write down each column and the values that they contain.

In [8]:
Asset_Details = df_filtered[['Is_Self_Employed','Net_After_Liabilities','Amount_Left_Over','Vehicle_Owner','Resale_Vehicle','Motorcycle_Owner',
                             'Resale_Motorcycle','Pension_Annuity','Pension_Annuity_Amount','Pension_Annuity_Category','Shares','Shares_Amount','Shares_Category',
                             'Bank_Account','Bank_Account_Balance','Bank_Account_Category','Possessions_Net_Value','Possessions_Net_Value_Balance']]

Asset_Details = Asset_Details.replace({'Is_Self_Employed': {'Missing':'No' , 'Refused':'No' , 'Don\'t know':'No' }})
Asset_Details['Is_Self_Employed'] = Asset_Details['Is_Self_Employed'].astype('category')

Asset_Details = Asset_Details.replace({'Amount_Left_Over': {'Not applicable':None , 'Refused':None , 'Dont know':None }})

Asset_Details['Net_After_Liabilities'] = Asset_Details['Net_After_Liabilities'].cat.add_categories('Profit')
Asset_Details['Net_After_Liabilities'] = Asset_Details['Net_After_Liabilities'].cat.add_categories('Loss')
for i, v in Asset_Details['Amount_Left_Over'].items():
    if pd.isna(v):
        Asset_Details['Is_Self_Employed'][i] = 'No'
        Asset_Details['Net_After_Liabilities'][i] = None
        Asset_Details['Amount_Left_Over'][i] = 0.0
    else:
        Asset_Details['Is_Self_Employed'][i] = 'Yes'
        if v<0:
            Asset_Details['Net_After_Liabilities'][i] = 'Loss'
        elif v>0:
            Asset_Details['Net_After_Liabilities'][i] = 'Profit'
        else:
            Asset_Details['Net_After_Liabilities'][i] = 'Breakeven'
Asset_Details['Net_After_Liabilities'] = Asset_Details['Net_After_Liabilities'].astype('object').astype('category')

def clean_owner_resale( Asset_Details, col1, col2):
    Asset_Details[col1] = Asset_Details[col1].astype('object')
    Asset_Details = Asset_Details.replace({col2: {'Not applicable':None , 'Refused':None , 'Dont know':None , 'Don\'t know':None , 'Missing':None }})
    for i, v in Asset_Details[col2].items():
        if pd.isna(v):
            Asset_Details[col1][i] = 'No'
            Asset_Details[col2][i] = 0.0
        else:
            Asset_Details[col1][i] = 'Yes'
    Asset_Details[col1] = Asset_Details[col1].astype('category')
    Asset_Details[col2] = Asset_Details[col2].astype('float')
    return Asset_Details

def clean_amount_category(Asset_Details, amount, category):
    Asset_Details[category] = Asset_Details[category].astype('object')
    for i, v in Asset_Details[amount].items():
        if v<-100000:
            Asset_Details[category][i] = '>R100,000 in overdraft'
        elif v>=-100000 and v<=-50001:
            Asset_Details[category][i] = 'R50,001-R100,000 in overdraft'
        elif v>=-50000 and v<=-5001:
            Asset_Details[category][i] = 'R5,001-R50,000 in overdraft'
        elif v>=-5000 and v<=-501:
            Asset_Details[category][i] = 'R501-R5,000 in overdraft'
        elif v>=-500 and v<0:
            Asset_Details[category][i] = 'R1-R500 in overdraft'
        elif v<=500 and v>=0:
            Asset_Details[category][i] = 'R500'
        elif v>=501 and v<=4999:
            Asset_Details[category][i] = 'R501-R4,999'
        elif v==5000:
            Asset_Details[category][i] = 'R5,000'
        elif v>=5001 and v<=49999:
            Asset_Details[category][i] = 'R5,001-R49,999'
        elif v==50000:
            Asset_Details[category][i] = 'R50,000'
        elif v>=50001 and v<=499999:
            Asset_Details[category][i] = 'R50,001-R499,999'
        elif v==500000:
            Asset_Details[category][i] = 'R500,000'
        elif v>=500001 and v<=999999:
            Asset_Details[category][i] = 'R500,001-R999,999'
        elif v==1000000:
            Asset_Details[category][i] = 'R1,000,000'
        elif v>=1000001 and v<=4999999:
            Asset_Details[category][i] = 'R1,000,001-R4,999,999'
        elif v==5000000:
            Asset_Details[category][i] = 'R5,000,000'
        elif v>5000000:
            Asset_Details[category][i] = '>R5,000,000'
    Asset_Details[category] = Asset_Details[category].astype('category')
    return Asset_Details

Asset_Details = clean_owner_resale(Asset_Details, 'Vehicle_Owner', 'Resale_Vehicle')
Asset_Details = clean_owner_resale(Asset_Details, 'Motorcycle_Owner', 'Resale_Motorcycle')

Asset_Details = clean_owner_resale(Asset_Details, 'Pension_Annuity', 'Pension_Annuity_Amount')
Asset_Details = clean_amount_category(Asset_Details, 'Pension_Annuity_Amount', 'Pension_Annuity_Category')

Asset_Details = clean_owner_resale(Asset_Details, 'Shares', 'Shares_Amount')
Asset_Details = clean_amount_category(Asset_Details, 'Shares_Amount', 'Shares_Category')

Asset_Details = clean_owner_resale(Asset_Details, 'Bank_Account', 'Bank_Account_Balance')
Asset_Details = clean_amount_category(Asset_Details, 'Bank_Account_Balance', 'Bank_Account_Category')

Asset_Details = clean_owner_resale(Asset_Details, 'Possessions_Net_Value', 'Possessions_Net_Value_Balance')

display(Asset_Details)

,Is_Self_Employed,Net_After_Liabilities,Amount_Left_Over,Vehicle_Owner,Resale_Vehicle,Motorcycle_Owner,Resale_Motorcycle,Pension_Annuity,Pension_Annuity_Amount,Pension_Annuity_Category,Shares,Shares_Amount,Shares_Category,Bank_Account,Bank_Account_Balance,Bank_Account_Category,Possessions_Net_Value,Possessions_Net_Value_Balance
0,No,NaN,0.0,Yes,100000.0,No,0.0,Yes,950000.0,"R500,001-R999,999",No,0.0,R500,No,0.0,R500,Yes,150000.0
1,No,NaN,0.0,No,0.0,No,0.0,No,0.0,R500,No,0.0,R500,Yes,0.0,R500,No,0.0
2,No,NaN,0.0,No,0.0,No,0.0,No,0.0,R500,No,0.0,R500,Yes,4000.0,"R501-R4,999",No,0.0
3,No,NaN,0.0,No,0.0,No,0.0,No,0.0,R500,No,0.0,R500,Yes,10000.0,"R5,001-R49,999",No,0.0
4,No,NaN,0.0,No,0.0,No,0.0,No,0.0,R500,No,0.0,R500,No,0.0,R500,No,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30102,No,NaN,0.0,No,0.0,No,0.0,No,0.0,R500,No,0.0,R500,No,0.0,R500,No,0.0
30103,No,NaN,0.0,Yes,45000.0,No,0.0,No,0.0,R500,No,0.0,R500,Yes,700.0,"R501-R4,999",Yes,30000.0
30104,No,NaN,0.0,No,0.0,No,0.0,No,0.0,R500,No,0.0,R500,No,0.0,R500,Yes,300000.0
30105,No,NaN,0.0,No,0.0,No,0.0,No,0.0,R500,No,0.0,R500,No,0.0,R500,Yes,1000.0
30109,No,NaN,0.0,No,0.0,No,0.0,No,0.0,R500,No,0.0,R500,Yes,0.0,R500,No,0.0

TODO: Describe the data that the Income_Details table contains. Write down each column and the values that they contain. 
TODO: Change these columns in Personal Details using the Income_Details table. Employment_Payment

In [9]:
Income_Details = df_filtered[['Employment_Payment','Primary_Gross_Income_Month','Primary_Net_Income_Month','Main_Job_Income_Category',
                              'Work_Week_Hours','Rec_Share_Profit_Year','Share_Profit_Year','Rec_Share_Profit_Month','Share_Profit_Month','Rec_Bonus_Year',
                              'Other_Bonus_Year','Rec_Bonus_Month','Other_Bonus_Month','Rec_Extra_Income_Year','Extra_Income_Year','Rec_Extra_Income_Month',
                              'Extra_Income_Month','Have_Secondary_Occupation','Secondary_Gross_Income','Secondary_Net_Income','Secondary_Income_Category',
                              'Is_Self_Employed','Month_Take_Home_Salary','Pension','Pension_Amount','Disability_Grant','Disability_Grant_Amount','Child_Support',
                              'Child_Support_Amount','Foster_Care_Grant','Foster_Care_Grant_Amount','Dependency_Grant','Dependency_Grant_Amount','Grant_In_Aid',
                              'Grant_In_Aid_Amount','War_Veterans_Pension','War_Veterans_Pension_Amount','UIF','UIF_Amount','Workers_Compensation',
                              'Workers_Compensation_Amount','Provident_Fund','Provident_Fund_Amount','Private_Retirement_Annuity',
                              'Private_Retirement_Annuity_Amount','Retirement_Package','Retirement_Package_Amount','Rental_Income','Rental_Income_Amount',
                              'Interest_Earnings','Interest_Earnings_Amount','Retrenchment_Package','Retrenchment_Package_Amount','Inheritances',
                              'Inheritances_Amount','Lobola','Lobola_Amount','Gifts','Gifts_Amount','Loan_Repayments','Loan_Repayments_Amount',
                              'Sale_Household_Goods','Sale_Household_Goods_Amount','Other_Income','Other_Income_Recipient','Other_Income_Value',
                              'Household_Income_Classification','Household_Income_Step_15_Years',
                              'Household_Income_Step_In_5_Years','Household_Expected_Income_In_5_Years']]

Income_Details['Primary_Gross_Income_Month'].fillna(0.0, inplace = True)
Income_Details = Income_Details.replace({'Primary_Gross_Income_Month': {'Missing':0.0 ,'Not applicable': 0.0, 'Refused': 0.0, 'Dont know': 0.0}})
Income_Details['Primary_Net_Income_Month'].fillna(0.0, inplace = True)
Income_Details = Income_Details.replace({'Primary_Net_Income_Month': {'Missing':0.0 ,'Not applicable': 0.0, 'Refused': 0.0, 'Dont know': 0.0}})

def clean_payment_existence( Income_Details, col1, col2):
    Income_Details[col2] = Income_Details[col2].astype('object')
    Income_Details = Income_Details.replace({col2: {'Missing':0.0 ,'Not applicable': 0.0, 'Refused': 0.0, 'Dont know': 0.0}})
    Income_Details[col2].fillna(0.0, inplace = True)
    for i, v in Income_Details[col2].items():
        if v>0:
            Income_Details[col1][i] = 'Yes'
        else:
            Income_Details[col1][i] = 'No'
    Income_Details[col1] = Income_Details[col1].astype('object').astype('category')
    return Income_Details

Income_Details = clean_payment_existence( Income_Details, 'Employment_Payment', 'Primary_Gross_Income_Month')

Income_Details = clean_amount_category(Income_Details, 'Primary_Net_Income_Month', 'Main_Job_Income_Category')

Income_Details['Work_Week_Hours'].fillna(0.0, inplace = True)
Income_Details = Income_Details.replace({'Work_Week_Hours': {'Missing':0.0 ,'Not applicable': 0.0, 'Refused': 0.0, 'Dont know': 0.0}})

Income_Details = clean_payment_existence( Income_Details, 'Rec_Share_Profit_Year', 'Share_Profit_Year')

Income_Details = clean_payment_existence( Income_Details, 'Rec_Share_Profit_Month', 'Share_Profit_Month')

Income_Details = clean_payment_existence( Income_Details, 'Rec_Bonus_Year', 'Other_Bonus_Year')

Income_Details = clean_payment_existence( Income_Details, 'Rec_Bonus_Month', 'Other_Bonus_Month')

Income_Details = clean_payment_existence( Income_Details, 'Rec_Extra_Income_Year', 'Extra_Income_Year')

Income_Details = clean_payment_existence( Income_Details, 'Rec_Extra_Income_Month', 'Extra_Income_Month')

Income_Details = clean_payment_existence( Income_Details, 'Have_Secondary_Occupation', 'Secondary_Gross_Income')

Income_Details = clean_payment_existence( Income_Details, 'Have_Secondary_Occupation', 'Secondary_Net_Income')

Income_Details = clean_amount_category(Income_Details, 'Secondary_Net_Income', 'Secondary_Income_Category')

Income_Details = clean_payment_existence(Income_Details, 'Is_Self_Employed', 'Month_Take_Home_Salary')
Income_Details = clean_payment_existence(Income_Details, 'Pension', 'Pension_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Disability_Grant', 'Disability_Grant_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Child_Support', 'Child_Support_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Foster_Care_Grant', 'Foster_Care_Grant_Amount')

Income_Details = clean_payment_existence(Income_Details, 'Dependency_Grant', 'Dependency_Grant_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Grant_In_Aid', 'Grant_In_Aid_Amount')
Income_Details = clean_payment_existence(Income_Details, 'War_Veterans_Pension', 'War_Veterans_Pension_Amount')
Income_Details = clean_payment_existence(Income_Details, 'UIF', 'UIF_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Workers_Compensation', 'Workers_Compensation_Amount')

Income_Details = clean_payment_existence(Income_Details, 'Workers_Compensation', 'Workers_Compensation_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Provident_Fund', 'Provident_Fund_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Private_Retirement_Annuity', 'Private_Retirement_Annuity_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Retirement_Package', 'Retirement_Package_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Rental_Income', 'Rental_Income_Amount')

Income_Details = clean_payment_existence(Income_Details, 'Interest_Earnings', 'Interest_Earnings_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Retrenchment_Package', 'Retrenchment_Package_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Inheritances', 'Inheritances_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Lobola', 'Lobola_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Gifts', 'Gifts_Amount')

Income_Details = clean_payment_existence(Income_Details, 'Loan_Repayments', 'Loan_Repayments_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Sale_Household_Goods', 'Sale_Household_Goods_Amount')
Income_Details = clean_payment_existence(Income_Details, 'Other_Income', 'Other_Income_Value')

Income_Details['Household_Expected_Income_In_5_Years'].fillna(0.0, inplace = True)
Income_Details = Income_Details.replace({'Household_Expected_Income_In_5_Years': {'Missing':0.0 ,'Not applicable': 0.0, 'Refused': 0.0, 'Dont know': 0.0}})

TODO: Describe the data that the Liability_Details table contains. Write down each column and the values that they contain.

In [10]:
Liability_Details = df_filtered[['Has_Home_Loan','Home_Loan_Balance','Other_Property','Other_Property_Balance',
                                 'Vehicle_Payment','Vehicle_Payment_Balance','Bank_Personal_Loan','Bank_Personal_Loan_Balance',
                                 'Micro_Lender_Loan','Micro_Lender_Loan_Balance','Bank_Study_Loan','Bank_Study_Loan_Balance','Other_Study_Loan','Other_Study_Loan_Balance',
                                 'Credit_Card','Credit_Card_Balance','Store_Card','Store_Card_Balance','Hire_Purchase_Agreement','Hire_Purchase_Agreement_Balance',
                                 'Family_Member_Loan','Family_Member_Loan_Balance','Friend_Loan','Friend_Loan_Balance','Mashonisa_Loan','Mashonisa_Loan_Balance',
                                 'Employer_Loan','Employer_Loan_Balance','Unpaid_Tax','Unpaid_Tax_Balance','Monthly_Arrears','Monthly_Arrears_Balance','Other_Debts',
                                 'Other_Debts_Balance']]

Liability_Details = clean_payment_existence(Liability_Details, 'Has_Home_Loan', 'Home_Loan_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Other_Debts', 'Other_Debts_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Unpaid_Tax', 'Unpaid_Tax_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Employer_Loan', 'Employer_Loan_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Family_Member_Loan', 'Family_Member_Loan_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Bank_Study_Loan', 'Bank_Study_Loan_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Hire_Purchase_Agreement', 'Hire_Purchase_Agreement_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Other_Study_Loan', 'Other_Study_Loan_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Bank_Personal_Loan', 'Bank_Personal_Loan_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Vehicle_Payment', 'Vehicle_Payment_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Micro_Lender_Loan', 'Micro_Lender_Loan_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Friend_Loan', 'Friend_Loan_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Credit_Card', 'Credit_Card_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Mashonisa_Loan', 'Mashonisa_Loan_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Store_Card', 'Store_Card_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Other_Property', 'Other_Property_Balance')
Liability_Details = clean_payment_existence(Liability_Details, 'Monthly_Arrears', 'Monthly_Arrears_Balance')

## 2. Encode variables

Personal_Details = Month_DOB, Gender, Population_Group, Married_Cohabitation, Current_Relationship_Status, Given_Birth, Biological_Children_Living, Mother_Degrees, Mother_Highest_Tertiary, Father_Highest_Tertiary, Highest_Grade_Completed, Highest_Grade_Completed_Pass_Type, Matric_University_Exemption, Math_Highest_Grade_Completed, Other_Math_Highest_Grade_Completed, Tertiary_Completed, Highest_Tertiary_Completed, Other_Highest_Tertiary_Completed,Repeated_School_Grades, Currently_Enrolled_School, Other_Currently_Enrolled_School, Computer_Literate, English_Reading_Level, English_Writing_Level

Asset_Details = Is_Self_Employed, Net_After_Liabilities, Vehicle_Owner, Motorcycle_Owner, Pension_Annuity, Pension_Annuity_Category, Shares, Shares_Category, Bank_Account, Bank_Account_Category, Possessions_Net_Value

Income_Details = Employment_Payment, Main_Job_Income_Category, Rec_Share_Profit_Year, Rec_Share_Profit_Month, Rec_Bonus_Year, Rec_Bonus_Month, Rec_Extra_Income_Year, Rec_Extra_Income_Month, Have_Secondary_Occupation, War_Veterans_Pension, Retirement_Package, UIF, Is_Self_Employed, Foster_Care_Grant, Disability_Grant, Household_Income_Classification, Household_Income_Step_15_Years, Retrenchment_Package, Other_Income_Recipient, Sale_Household_Goods, Gifts, Household_Income_Step_In_5_Years, Other_Income, Interest_Earnings, Loan_Repayments, Lobola, Rental_Income, Inheritances, Provident_Fund, Dependency_Grant, Private_Retirement_Annuity, Workers_Compensation, Grant_In_Aid, Child_Support, Secondary_Income_Category, Pension

Liability_Details = Has_Home_Loan, Other_Property, Vehicle_Payment, Bank_Personal_Loan, Micro_Lender_Loan, Bank_Study_Loan, Other_Study_Loan, Credit_Card, Store_Card, Hire_Purchase_Agreement, Family_Member_Loan, Friend_Loan, Mashonisa_Loan, Employer_Loan, Unpaid_Tax, Monthly_Arrears, Other_Debts

The columns above are categorical and need to be transformed into indicator variables using one-hot encoding.
## These are not my words TODO: Reword the next paragraph
Due to the fact that most of the variables being considered in this project are categorical variables. The values of the categorical variables are numeric however the numbers have no real meaning beyond labelling the different categories. Therefore, the categorical variables need to be transformed into indicator variables using one-hot encoding.

TODO: make a labels list with the categorical columns for each table. Use the code below to do the one-hot encoding. PS I do not really understand it. The code comes from "Inference_notebook.ipynb".

L2016_dummies = pd.get_dummies(L2017_filtered, columns = labels, drop_first = False)
L2016_dummies=L2016_dummies.drop(['Study_field_88888888'],axis=1)

## 3. Exploratory plots

Here we explore the relationships between the personal data and how that impacts the Income, Assests and Liabilities of each residence.
              
Some questions that can be answered:
1. Are there monetary differences between Genders?
2. Does you DOB make a difference in your networth? are there differences between decades or generations?
3. Does your population group factor into the accumulation of wealth? are other groups more successful than others?
4. Are married couples more wealthy than cohabiting couples?
5. How do couples that live separately differ from cohabiting/married couples?
6. Is there a direct correlation between Years married/cohabiting and wealth?
7. Are divorced people,widows,widowers or separated people wealthier than single people?
8. How does having children impact wealth?
9. Do degrees make much of a difference in determining wealth later on in life?
10. Does the level of tertiary completed make much of a difference in determining wealth later on in life?
11. Are there wealthy people that didn't complete grade school?
12. Does the Grade school pass type inpact future wealth generation?
13. Does Matric_University_Exemption inpact future wealth generation?
14. Are there wealthy people that didn't complete grade school math?
15. What level of tertiary completion brings in the most wealth?
16. Does repeating a school grade negatively impact your chance to be wealthy?
17. Does computer literacy directly correlate with wealth generation?
18. Does English_Reading_Level directly correlate with wealth generation?
19. Does English_Writing_Level directly correlate with wealth generation?

In [11]:
#Replacing the values of the highest grade achieved column with the terms currently used
new_edu_vals = {'Grade R/0':'Grade R','Grade 1/Sub A/Class 1':'Grade 1','Grade 2/Sub B/Class 2':'Grade 2','Grade 3/Std. 1':'Grade 3','Grade 4/Std. 2':'Grade 4','Grade 5/Std. 3':'Grade 5','Grade 6/Std. 4':'Grade 6','Grade 8/Std. 6/Form 1':'Grade 8','Grade 12/Std. 10/Form 5/Matric/Senior Certificate':'Grade 12','Grade 10/Std. 8/Form 3':'Grade 10','Grade 11/Std. 9/Form 4':'Grade 11','Grade 9/Std. 7/Form 2':'Grade 9','Grade 7/Std. 5':'Grade 7'}
df_filtered = df_filtered.replace({'Highest_Grade_Completed': new_edu_vals})
edu_lvl = df_filtered['Highest_Grade_Completed'].dropna() #dropping nan values

In [ ]:
#plotting the highest grade achieved data
fig = plt.figure(figsize=(9,7))
ax = fig.add_axes([0,0,1,1])
ax.hist(edu_lvl, width = 0.45, bins = 24)

ax.set_ylabel('No. of Respondents')
ax.set_xlabel('Grade')
ax.set_title('Highest Grade Accomplished by Respondent')
plt.xticks(rotation = 90)
 

plt.show()

In [ ]:
#Comparison between highest grade completed and monthly take home salary

piv_data = df_filtered.loc[:,['Month_Take_Home_Salary','Highest_Grade_Completed']]
piv_data.dropna()
piv_tbl = pd.pivot_table(piv_data, index = ['Month_Take_Home_Salary'] , columns =['Highest_Grade_Completed'], aggfunc = len, fill_value = 0)
piv_tbl

In [ ]:
#Comparison between tertiary education and monthly take home salary
piv_data2 = df_filtered.loc[:,['Month_Take_Home_Salary','Tertiary_Completed']]
piv_data2.dropna()
piv_tbl2 = pd.pivot_table(piv_data2, index = ['Month_Take_Home_Salary'] , columns =['Tertiary_Completed'], aggfunc = len,fill_value = 0)
piv_tbl2

In [ ]:
race = df_filtered['Population_Group']
#Comparison between tertiary education and monthly take home salary
piv_data3 = df_filtered.loc[:,['Population_Group','Tertiary_Completed','Highest_Tertiary_Completed']]
piv_data3.dropna()
piv_tbl3 = pd.pivot_table(piv_data3, index =['Tertiary_Completed','Highest_Tertiary_Completed'] , columns =['Population_Group'], aggfunc = len,fill_value = 0)
piv_tbl3

In [ ]:
#piv_tbl3 plot results
plt.figure(figsize=(10,8))
piv_tbl3.plot(kind = "bar", figsize = (10,8), stacked = True)

In [ ]:
width = 0.35
plt.hist(race, width = width)
plt.title('Histogram of Population Groups')
plt.xlabel('Population Group')
plt.xticks(rotation = 90)
plt.show