In [2]:
# Initialisation Cell
from __future__ import print_function, division
from IPython.display import display, HTML, Javascript
from matplotlib import pyplot as plt
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

%matplotlib inline

sns.set_context("talk")
sns.set_style('darkgrid', {'figure.facecolor': '(0,0,0,0)'}) 
#'axes.facecolor': '(0,0,0,0)'

# 0. ...A Catchy Title... (e.g. "Are people getting poorer?")

## Executive Summary
The purpose of the notebook is to analyse census and income data to determine if there is a correlation betweeen how much people earn today with regards to their buying power <this is only for now, pleas refine when we know more>
What is being modelled are the regression charts of earning amounts of the decade, graduation rates over the decade, as well as GDP and economic expenditure for citizens. Analysing all these simulataneously we have determined <please add in findings here>
Limitations have included, time, database availability, <add more with regards to data normalisation and standardization>

## Introduction

problem context: the landscape of SA today, with gross inequality and a widening financial gap we aim to see if people of SA, specifically the previously disadavantaged, have amassed more financial power as a result of greater access to education and employment opportunities. We are motivated by finding (a motiovation...)
Questions include: Is there a significant relationship between education and income level?
Methodology: We will take the data, Normalise the data to the 3rd normal form, we will then graph a set regression models that indicate the change over the years with regards to both eduation and income levels. We will then use the insights gained from this to formulate a response.
Section Contents Overview: the following will be a description of the original datasets, the changes perfromed on these datasets, and initial visualisations on data correlations.

## Data Wrangling
The data was originaly sourced from the [UCT NIDS databse] (http://www.nids.uct.ac.za/nids-data/program-library/derived-files) 
The date downloaded will be gotten from (Rutendo,pls ask)

In [14]:
#importing data infto dataframe 'df'
df = pd.read_stata('DEA-Data/adult_dataset.dta')

#selecting specific columns from "df"
df_filtered = df[['w5_a_grcurtyp','w5_a_grcurecrel','w5_a_edschgrd','w5_a_edschyr','w5_a_edschage','w5_a_ednsc','w5_a_edexemp','w5_a_edschmth','w5_a_edschmth_o','w5_a_edter','w5_a_edterlev','w5_a_edterlev_o','w5_a_edteryr','w5_a_edrep','w5_a_ed17cur','w5_a_ed17curlev_o','w5_a_edlitcomp','w5_a_edlitrden','w5_a_edlitwrten','w5_a_decdpid','w5_a_decdpid2','w5_a_declrgpid','w5_a_declrgpid2','w5_a_wblv','w5_a_fwbrelinc','w5_a_fwbstp15','w5_a_fwbstp5yr','w5_a_fwbinc5yr','w5_a_wbsat','w5_a_wbsat10yr','w5_a_trstsa','w5_a_recinh','w5_a_recjob','w5_a_recprof','w5_a_recfin','w5_a_reclob','w5_a_recoth','w5_a_ownveh','w5_a_ownveh_v','w5_a_ownmot','w5_a_ownmot_v','w5_a_owncom','w5_a_owncel','w5_a_dtbnd','w5_a_dtbnd_b','w5_a_dtbnd_joint','w5_a_ownoth_ind','w5_a_ownowdtot_indshare','w5_a_dtveh','w5_a_dtveh_b','w5_a_dtveh_joint','w5_a_dtbnk','w5_a_dtbnk_b','w5_a_dtmic','w5_a_dtmic_b','w5_a_dtstubnk','w5_a_dtstubnk_b','w5_a_dtstuo','w5_a_dtstuo_b','w5_a_dtcre','w5_a_dtcre_b','w5_a_dtstr','w5_a_dtstr_b','w5_a_dthp','w5_a_dthp_b','w5_a_dtflloan','w5_a_dtflloan_b','w5_a_dtfrloan','w5_a_dtfrloanbal','w5_a_dtmsh','w5_a_dtmsh_b','w5_a_dtemploan','w5_a_dtemploan_b','w5_a_dtunpdtax','w5_a_dtunpdtax_b','w5_a_dtserarr','w5_a_dtserarr_b','w5_a_dtoth1','w5_a_dtoth1_o','w5_a_dtoth1_b','w5_a_aslifeins','w5_a_aspen','w5_a_aspen_v','w5_a_aspen_cat','w5_a_asfin','w5_a_asfin_v','w5_a_asfin_cat','w5_a_dtstvl','w5_a_asacc','w5_a_asacc_v','w5_a_asacc_cat','w5_a_dtacc_cat','w5_a_assell','w5_a_assell_v']]

#df_filtered

In [15]:
#column renaming
pd.set_option('mode.chained_assignment', None)
#dictionary for the new column names: key = old name & value = new name
dict={'w5_a_grcurtyp':'GRNT_TYP','w5_a_grcurecrel':'GRNT_RCVD_BY_WHO','w5_a_edschgrd':'HGST_GR_CMPLT','w5_a_edschyr':'YR_CMPLT','w5_a_edschage':'AGE_CMPLT','w5_a_ednsc':'NCS_PASS_TYP','w5_a_edexemp':'UNI_EXMPTN','w5_a_edschmth':'HGST_GR_MATH','w5_a_edschmth_o':'OTHR_GR_MATH','w5_a_edter':'TERTIARY','w5_a_edterlev':'HGST_LVL_TER','w5_a_edterlev_o':'OTHR_LVL_TER','w5_a_edteryr':'YR_TER_CMPLT','w5_a_edrep':'REP_SCH_GRDS','w5_a_ed17cur':'STUDENT','w5_a_ed17curlev_o':'CURR_EDU_LVL','w5_a_edlitcomp':'COMP_LITRTE','w5_a_edlitrden':'ENG_RDNG_LVL','w5_a_edlitwrten':'ENG_WRTNG_LVL','w5_a_decdpid':'HH_DCSN_MKR','w5_a_decdpid2':'HH_DCSN_MKR2','w5_a_declrgpid':'DCSN_LRG_PRCH' ,'w5_a_declrgpid2':'DCSN_LRG_PRCH2','w5_a_wblv':'PRF_LVNG_AREA','w5_a_fwbrelinc':'HH_INCME_CLSS','w5_a_fwbstp15':'INCME_STP_15','w5_a_fwbstp5yr':'INCME_STP_5YR','w5_a_fwbinc5yr':'EXP_INCME_5YR','w5_a_wbsat':'LIFE_SATIF_LVL_','w5_a_wbsat10yr':'HAPPINSS_LVL','w5_a_trstsa':'TRST_SA_PPL','w5_a_recinh':'INCME_INHRTNC','w5_a_recjob':'INCME_JOB_PYOUT','w5_a_recprof':'INCME_PTY_PRFT','w5_a_recfin':'INCME_FINAN_PRDCT','w5_a_reclob':'INCME_LOBOLA','w5_a_recoth':'OTHER_LGR_INCME','w5_a_ownveh':'OWN_VEHCL','w5_a_ownveh_v':'VEHCL_VAL_AMT','w5_a_ownmot':'OWN_M0TCYCL','w5_a_ownmot_v':'MOTCYCL_VAL_AMT','w5_a_owncom':'OWN_COMP','w5_a_owncel':'OWN_CELL','w5_a_dtbnd':'HME_LOAN_BOND','w5_a_dtbnd_b':'HME_LOAN_BAL','w5_a_dtbnd_joint':'HME_BAL_JOINT','w5_a_ownoth_ind':'OWN_PTY','w5_a_ownowdtot_indshare':'PTY_DBT_JOINT','w5_a_dtveh':'CAR_PYMNT','w5_a_dtveh_b':'CAR_PYMNT_BAL','w5_a_dtveh_joint':'CAR_BAL_JOINT','w5_a_dtbnk':'BNK_PRSNL_LOAN','w5_a_dtbnk_b':'BNK_LOAN_BAL','w5_a_dtmic':'MICRO_LNDR_LOAN','w5_a_dtmic_b':'ML_LOAN_BAL','w5_a_dtstubnk':'BNK_STDY_LOAN','w5_a_dtstubnk_b':'STDY_LOAN_BAL','w5_a_dtstuo':'OTHR_STDY_LOAN','w5_a_dtstuo_b':'OSTDY_LOAN_BAL','w5_a_dtcre':'CRDT_CRD','w5_a_dtcre_b':'CRDT_CRD_BAL','w5_a_dtstr':'STORE_ACC','w5_a_dtstr_b':'STORE_ACC_BAL','w5_a_dthp':'HIRE_PUR_AGRMNT','w5_a_dthp_b':'HIRE_PUR_BAL','w5_a_dtflloan':'FAM_MEM_LOAN','w5_a_dtflloan_b':'FAM_LOAN_BAL','w5_a_dtfrloan':'FRND_LOAN','w5_a_dtfrloanbal':'FRND_LOAN_BAL','w5_a_dtmsh':'MASHN_LOAN','w5_a_dtmsh_b':'MASHN_LOAN_BAL','w5_a_dtemploan':'EMPLOYR_LOAN','w5_a_dtemploan_b':'EMPLOYR_LOAN_BAL','w5_a_dtunpdtax':'UNPD_TAX','w5_a_dtunpdtax_b':'UNPD_TAX_BAL','w5_a_dtserarr':'MONTHLY_ARRS','w5_a_dtserarr_b':'MONTHLY_ARRS_BAL','w5_a_dtoth1':'OTHR_DEBTS','w5_a_dtoth1_o':'NOT_OTHR_DEBT','w5_a_dtoth1_b':'OTHR_DEBT_BAL','w5_a_aslifeins':'LIFE_INSRNC','w5_a_aspen':'PEN_RETMNT_ANNTY','w5_a_aspen_v':'PEN_RETMNT_AMT','w5_a_aspen_cat':'PEN_RETMNT_CATGRY','w5_a_asfin':'UNTTRST_STKS_SHRS','w5_a_asfin_v':'UT_SS_AMT','w5_a_asfin_cat':'UT_SS_CATGRY','w5_a_dtstvl':'STKVL_SAVNGSCLB','w5_a_asacc':'BNK_ACC','w5_a_asacc_v':'BNK_ACC_BAL','w5_a_asacc_cat':'BNK_ACC_CATGRY','w5_a_dtacc_cat':'OD_ACC_CATEGRY','w5_a_assell':'NET_VAL_HH_POSSNS','w5_a_assell_v':'POS_VAL_LFTOVR'}
df_filtered.rename(columns = dict,inplace = True)
display(df_filtered)

,GRNT_TYP,GRNT_RCVD_BY_WHO,HGST_GR_CMPLT,YR_CMPLT,AGE_CMPLT,NCS_PASS_TYP,UNI_EXMPTN,HGST_GR_MATH,OTHR_GR_MATH,TERTIARY,...,UNTTRST_STKS_SHRS,UT_SS_AMT,UT_SS_CATGRY,STKVL_SAVNGSCLB,BNK_ACC,BNK_ACC_BAL,BNK_ACC_CATGRY,OD_ACC_CATEGRY,NET_VAL_HH_POSSNS,POS_VAL_LFTOVR
0,NaN,NaN,Grade 12/Std. 10/Form 5/Matric/Senior Certificate,1997,NaN,NaN,Passed with a university exemption,Grade 12/Std. 10/Form 5/Matric/Senior Certificate,,Yes,...,No,NaN,NaN,No,Yes,Dont know,Refused,NaN,Something left over,150000
1,NaN,NaN,Grade 10/Std. 8/Form 3,2008,NaN,NaN,NaN,Grade 7/Std. 5,,No,...,No,NaN,NaN,No,Yes,0,NaN,NaN,Don't know,NaN
2,NaN,NaN,Grade 11/Std. 9/Form 4,2003,NaN,NaN,NaN,Grade 10/Std. 8/Form 3,,Yes,...,No,NaN,NaN,Yes,Yes,4000,NaN,NaN,Something left over,Dont know
3,NaN,NaN,Grade 11/Std. 9/Form 4,1994,NaN,NaN,NaN,Grade 11/Std. 9/Form 4,,Yes,...,No,NaN,NaN,No,Yes,10000,NaN,NaN,Something left over,Dont know
4,NaN,NaN,No schooling,NaN,NaN,NaN,NaN,NaN,,NaN,...,No,NaN,NaN,No,No,NaN,NaN,NaN,Refused,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30105,NaN,NaN,Grade 7/Std. 5,Don't know,15,NaN,NaN,Grade 7/Std. 5,,No,...,No,NaN,NaN,No,No,NaN,NaN,NaN,Something left over,1000
30106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30109,NaN,NaN,Grade 11/Std. 9/Form 4,2005,NaN,NaN,NaN,Grade 11/Std. 9/Form 4,,No,...,No,NaN,NaN,No,Yes,0,NaN,NaN,In debt,NaN