In [5]:
# Initialisation Cell
from __future__ import print_function, division
from IPython.display import display, HTML, Javascript
from matplotlib import pyplot as plt
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

%matplotlib inline

sns.set_context("talk")
sns.set_style('darkgrid', {'figure.facecolor': '(0,0,0,0)'}) 
#'axes.facecolor': '(0,0,0,0)'

# Is there a significant relationship between education and income level?
 
## Executive Summary
The purpose of the notebook is to analyse census and income data from [UCT NIDS databse](http://www.nids.uct.ac.za/nids-data/program-library/derived-files) to determine if there is a correlation between **how much people earn** and their **highest education level**(i.e primary,secondary or tertiary education) What is being modelled are the regression charts of earning amounts of the decade, graduation rates over the decade, as well as GDP and economic expenditure for citizens.Thus far,we have determined that:

  1)The largest group of participants were young (in their 20s).
  
  2)The majority was African/Black.
  
  3)Few participants completed tertiary education.
  
  4)Most people were in the R6 001 to R8 000 income bracket.
  
*The journey to coming to this stage had its perils. Some of those being:*

  1)Formulating a pertinent question.
  
  2)Finding an extensive dataset in the South African context.
  
  3)Dealing with and sorting out opaque variable names.

## Introduction
**Problem Context**: South Africa is known to be one of the most unequal societies in the world, with the World Bank reporting that 20% of people in South Africa control almost 70% of the resources.**Motivation**:The financial gap is widening and we aim to see if people of SA, specifically the previously disadavantaged, have amassed more financial power as a result of greater access to education and employment opportunities.**Questions include**: Is there a significant relationship between education and income level?How has this changed over time? What are the provincial differences?Are there any anomalies and if so, how do they affect the analysis.**Methodology**: We will take the data, Normalise the data to the 3rd normal form, we will then graph a set regression models that indicate the change over the years with regards to both eduation and income levels. We will then use the insights gained from this to formulate a response. **Section Contents Overview**: the following will be a description of the original datasets, the changes perfromed on these datasets, and initial visualisations on data correlations.

## Data Wrangling
The data was originaly sourced from the [UCT NIDS databse](http://www.nids.uct.ac.za/nids-data/program-library/derived-files) 
The dataset was downloaded on the 22nd of March.

In [6]:
#importing data infto dataframe 'df'
df = pd.read_stata('DAE-Data/adult_dataset.dta')

#selecting specific columns from "df"
df_filtered = df[
    ['w5_hhid','w5_a_sample','w5_a_dob_m','w5_a_dob_y','w5_a_gen','w5_a_popgrp','w5_a_mar','w5_a_mary_m','w5_a_mary_l','w5_a_curmarst',
     'w5_a_bhbrth','w5_a_bhcnt1con','w5_a_bhlive','w5_a_mthtertyn','w5_a_mthtert','w5_a_fthtert_o','w5_a_em1','w5_a_em1strty','w5_a_em1inc','w5_a_em1pay',
     'w5_a_em1inc_cat','w5_a_em1hrs','w5_a_em1prf','w5_a_em1prf_a','w5_a_em1prflm','w5_a_em1prflm_a','w5_a_em1bon','w5_a_em1bon_a','w5_a_em1bonlm','w5_a_em1bonlm_a',
     'w5_a_em1pcrt','w5_a_em1pcrt_a','w5_a_em1pcrtlm','w5_a_em1pcrtlm_a','w5_a_em2','w5_a_em2inc','w5_a_em2pay','w5_a_em2inc_cat','w5_a_ems','w5_a_emssll',
     'w5_a_emslft','w5_a_emsincfr_a','w5_a_incgovpen','w5_a_incgovpen_v','w5_a_incdis','w5_a_incdis_v','w5_a_incchld','w5_a_incchld_v','w5_a_incfos','w5_a_incfos_v',
     'w5_a_inccare','w5_a_inccare_v','w5_a_incaid','w5_a_incaid_v','w5_a_incwar','w5_a_incwar_v','w5_a_incuif','w5_a_incuif_v','w5_a_incwc','w5_a_incwc_v',
     'w5_a_incpfnd','w5_a_incpfnd_v','w5_a_incret','w5_a_incret_v','w5_a_incretp','w5_a_incretp_v','w5_a_incrnt','w5_a_incrnt_v','w5_a_incint','w5_a_incint_v',
     'w5_a_incretr','w5_a_incretr_v','w5_a_incinh','w5_a_incinh_v','w5_a_inclob','w5_a_inclob_v','w5_a_incgif','w5_a_incgif_v','w5_a_incloan',
     'w5_a_incloan_v','w5_a_incsale','w5_a_incsale_v','w5_a_inco','w5_a_inco_o','w5_a_inco_v','w5_a_cr',
     'w5_a_grcurtyp','w5_a_grcurecrel','w5_a_edschgrd','w5_a_edschyr','w5_a_edschage',
     'w5_a_ednsc','w5_a_edexemp','w5_a_edschmth','w5_a_edschmth_o','w5_a_edter',
     'w5_a_edterlev','w5_a_edterlev_o','w5_a_edteryr','w5_a_edrep','w5_a_ed17cur',
     'w5_a_ed17curlev_o','w5_a_edlitcomp','w5_a_edlitrden','w5_a_edlitwrten','w5_a_decdpid',
     'w5_a_decdpid2','w5_a_declrgpid','w5_a_declrgpid2','w5_a_wblv','w5_a_fwbrelinc',
     'w5_a_fwbstp15','w5_a_fwbstp5yr','w5_a_fwbinc5yr','w5_a_wbsat','w5_a_wbsat10yr',
     'w5_a_trstsa','w5_a_recinh','w5_a_recjob','w5_a_recprof','w5_a_recfin',
     'w5_a_reclob','w5_a_recoth','w5_a_ownveh','w5_a_ownveh_v','w5_a_ownmot',
     'w5_a_ownmot_v','w5_a_owncom','w5_a_owncel','w5_a_dtbnd','w5_a_dtbnd_b',
     'w5_a_dtbnd_joint','w5_a_ownoth_ind','w5_a_ownowdtot_indshare','w5_a_dtveh','w5_a_dtveh_b',
     'w5_a_dtveh_joint','w5_a_dtbnk','w5_a_dtbnk_b','w5_a_dtmic','w5_a_dtmic_b',
     'w5_a_dtstubnk','w5_a_dtstubnk_b','w5_a_dtstuo','w5_a_dtstuo_b','w5_a_dtcre',
     'w5_a_dtcre_b','w5_a_dtstr','w5_a_dtstr_b','w5_a_dthp','w5_a_dthp_b',
     'w5_a_dtflloan','w5_a_dtflloan_b','w5_a_dtfrloan','w5_a_dtfrloanbal','w5_a_dtmsh',
     'w5_a_dtmsh_b','w5_a_dtemploan','w5_a_dtemploan_b','w5_a_dtunpdtax','w5_a_dtunpdtax_b',
     'w5_a_dtserarr','w5_a_dtserarr_b','w5_a_dtoth1','w5_a_dtoth1_o','w5_a_dtoth1_b',
     'w5_a_aslifeins','w5_a_aspen','w5_a_aspen_v','w5_a_aspen_cat','w5_a_asfin',
     'w5_a_asfin_v','w5_a_asfin_cat','w5_a_dtstvl','w5_a_asacc','w5_a_asacc_v',
     'w5_a_asacc_cat','w5_a_dtacc_cat','w5_a_assell','w5_a_assell_v']]

#df_filtered

In [7]:
#column renaming
pd.set_option('mode.chained_assignment', None)
#dictionary for the new column names: key = old name & value = new name
dict={'w5_hhid':'Household_Identifier','w5_a_sample':'Sample_Origin','w5_a_dob_m':'Month_DOB','w5_a_dob_y':'Year_DOB','w5_a_gen':'Gender',
 'w5_a_popgrp':'Population_Group','w5_a_mar':'Married_Cohabitation','w5_a_mary_m':'Years_Married','w5_a_mary_l':'Years_Cohabiting','w5_a_curmarst':'Current_Relationship_Status',
 'w5_a_bhbrth':'Given_Birth','w5_a_bhcnt1con':'Birth_Count','w5_a_bhlive':'Biological_Children_Living','w5_a_mthtertyn':'Mother_Degrees','w5_a_mthtert':'Mother_Highest_Tertiary',
 'w5_a_fthtert_o':'Father_Highest_Tertiary','w5_a_em1':'Employment_Payment','w5_a_em1strty':'Primary_Occupation','w5_a_em1inc':'Primary_Gross_Income_Month','w5_a_em1pay':'Primary_Net_Income_Month',
 'w5_a_em1inc_cat':'Main_Job_Income_Category','w5_a_em1hrs':'Work_Week_Hours','w5_a_em1prf':'Rec_Share_Profit_Year','w5_a_em1prf_a':'Share_Profit_Year','w5_a_em1prflm':'Rec_Share_Profit_Month',
 'w5_a_em1prflm_a':'Share_Profit_Month','w5_a_em1bon':'Rec_Bonus_Year','w5_a_em1bon_a':'Other_Bonus_Year','w5_a_em1bonlm':'Rec_Bonus_Month','w5_a_em1bonlm_a':'Other_Bonus_Month',
 'w5_a_em1pcrt':'Rec_Extra_Income_Year','w5_a_em1pcrt_a':'Extra_Income_Year','w5_a_em1pcrtlm':'Rec_Extra_Income_Month','w5_a_em1pcrtlm_a':'Extra_Income_Month','w5_a_em2':'Have_Secondary_Occupation',
 'w5_a_em2inc':'Secondary_Gross_Income','w5_a_em2pay':'Secondary_Net_Income','w5_a_em2inc_cat':'Secondary_Income_Category','w5_a_ems':'Is_Self_Employed','w5_a_emssll':'Net_After_Liabilities',
 'w5_a_emslft':'Amount_Left_Over','w5_a_emsincfr_a':'Month_Take_Home_Salary','w5_a_incgovpen':'Pension','w5_a_incgovpen_v':'Pension_Amount','w5_a_incdis':'Disability_Grant',
 'w5_a_incdis_v':'Disability_Grant_Amount','w5_a_incchld':'Child_Support','w5_a_incchld_v':'Child_Support_Amount','w5_a_incfos':'Foster_Care_Grant','w5_a_incfos_v':'Foster_Care_Grant_Amount',
 'w5_a_inccare':'Dependency_Grant','w5_a_inccare_v':'Dependency_Grant_Amount','w5_a_incaid':'Grant_In_Aid','w5_a_incaid_v':'Grant_In_Aid_Amount','w5_a_incwar':'War_Veterans_Pension',
 'w5_a_incwar_v':'War_Veterans_Pension_Amount','w5_a_incuif':'UIF','w5_a_incuif_v':'UIF_Amount','w5_a_incwc':'Workers_Compensation','w5_a_incwc_v':'Workers_Compensation_Amount',
 'w5_a_incpfnd':'Provident_Fund','w5_a_incpfnd_v':'Provident_Fund_Amount','w5_a_incret':'Private_Retirement_Annuity','w5_a_incret_v':'Private_Retirement_Annuity_Amount','w5_a_incretp':'Retirement_Package',
 'w5_a_incretp_v':'Retirement_Package_Amount','w5_a_incrnt':'Rental_Income','w5_a_incrnt_v':'Rental_Income_Amount','w5_a_incint':'Interest_Earnings','w5_a_incint_v':'Interest_Earnings_Amount',
 'w5_a_incretr':'Retrenchment_Package','w5_a_incretr_v':'Retrenchment_Package_Amount','w5_a_incinh':'Inheritances','w5_a_incinh_v':'Inheritances_Amount','w5_a_inclob':'Lobola',
 'w5_a_inclob_v':'Lobola_Amount','w5_a_incgif':'Gifts','w5_a_incgif_v':'Gifts_Amount','w5_a_incloan':'Loan_Repayments',
 'w5_a_incloan_v':'Loan_Repayments_Amount','w5_a_incsale':'Sale_Household_Goods','w5_a_incsale_v':'Sale_Household_Goods_Amount','w5_a_inco':'Other_Income','w5_a_inco_o':'Other_Income_Recipient',
 'w5_a_inco_v':'Other_Income_Value','w5_a_cr':'Non_Household_Residents_Contributions',
    'w5_a_grcurtyp':'GRNT_TYP','w5_a_grcurecrel':'GRNT_RCVD_BY_WHO','w5_a_edschgrd':'HGST_GR_CMPLT','w5_a_edschyr':'YR_CMPLT',
      'w5_a_edschage':'AGE_CMPLT','w5_a_ednsc':'NCS_PASS_TYP','w5_a_edexemp':'UNI_EXMPTN','w5_a_edschmth':'HGST_GR_MATH',
      'w5_a_edschmth_o':'OTHR_GR_MATH','w5_a_edter':'TERTIARY','w5_a_edterlev':'HGST_LVL_TER','w5_a_edterlev_o':'OTHR_LVL_TER',
      'w5_a_edteryr':'YR_TER_CMPLT','w5_a_edrep':'REP_SCH_GRDS','w5_a_ed17cur':'STUDENT','w5_a_ed17curlev_o':'CURR_EDU_LVL',
      'w5_a_edlitcomp':'COMP_LITRTE','w5_a_edlitrden':'ENG_RDNG_LVL','w5_a_edlitwrten':'ENG_WRTNG_LVL','w5_a_decdpid':'HH_DCSN_MKR',
      'w5_a_decdpid2':'HH_DCSN_MKR2','w5_a_declrgpid':'DCSN_LRG_PRCH' ,'w5_a_declrgpid2':'DCSN_LRG_PRCH2','w5_a_wblv':'PRF_LVNG_AREA',
      'w5_a_fwbrelinc':'HH_INCME_CLSS','w5_a_fwbstp15':'INCME_STP_15','w5_a_fwbstp5yr':'INCME_STP_5YR','w5_a_fwbinc5yr':'EXP_INCME_5YR',
      'w5_a_wbsat':'LIFE_SATIF_LVL_','w5_a_wbsat10yr':'HAPPINSS_LVL','w5_a_trstsa':'TRST_SA_PPL','w5_a_recinh':'INCME_INHRTNC',
      'w5_a_recjob':'INCME_JOB_PYOUT','w5_a_recprof':'INCME_PTY_PRFT','w5_a_recfin':'INCME_FINAN_PRDCT','w5_a_reclob':'INCME_LOBOLA',
      'w5_a_recoth':'OTHER_LGR_INCME','w5_a_ownveh':'OWN_VEHCL','w5_a_ownveh_v':'VEHCL_VAL_AMT','w5_a_ownmot':'OWN_M0TCYCL',
      'w5_a_ownmot_v':'MOTCYCL_VAL_AMT','w5_a_owncom':'OWN_COMP','w5_a_owncel':'OWN_CELL','w5_a_dtbnd':'HME_LOAN_BOND',
      'w5_a_dtbnd_b':'HME_LOAN_BAL','w5_a_dtbnd_joint':'HME_BAL_JOINT','w5_a_ownoth_ind':'OWN_PTY','w5_a_ownowdtot_indshare':'PTY_DBT_JOINT',
      'w5_a_dtveh':'CAR_PYMNT','w5_a_dtveh_b':'CAR_PYMNT_BAL','w5_a_dtveh_joint':'CAR_BAL_JOINT','w5_a_dtbnk':'BNK_PRSNL_LOAN',
      'w5_a_dtbnk_b':'BNK_LOAN_BAL','w5_a_dtmic':'MICRO_LNDR_LOAN','w5_a_dtmic_b':'ML_LOAN_BAL','w5_a_dtstubnk':'BNK_STDY_LOAN',
      'w5_a_dtstubnk_b':'STDY_LOAN_BAL','w5_a_dtstuo':'OTHR_STDY_LOAN','w5_a_dtstuo_b':'OSTDY_LOAN_BAL','w5_a_dtcre':'CRDT_CRD',
      'w5_a_dtcre_b':'CRDT_CRD_BAL','w5_a_dtstr':'STORE_ACC','w5_a_dtstr_b':'STORE_ACC_BAL','w5_a_dthp':'HIRE_PUR_AGRMNT',
      'w5_a_dthp_b':'HIRE_PUR_BAL','w5_a_dtflloan':'FAM_MEM_LOAN','w5_a_dtflloan_b':'FAM_LOAN_BAL','w5_a_dtfrloan':'FRND_LOAN',
      'w5_a_dtfrloanbal':'FRND_LOAN_BAL','w5_a_dtmsh':'MASHN_LOAN','w5_a_dtmsh_b':'MASHN_LOAN_BAL','w5_a_dtemploan':'EMPLOYR_LOAN',
      'w5_a_dtemploan_b':'EMPLOYR_LOAN_BAL','w5_a_dtunpdtax':'UNPD_TAX','w5_a_dtunpdtax_b':'UNPD_TAX_BAL','w5_a_dtserarr':'MONTHLY_ARRS',
      'w5_a_dtserarr_b':'MONTHLY_ARRS_BAL','w5_a_dtoth1':'OTHR_DEBTS','w5_a_dtoth1_o':'NOT_OTHR_DEBT','w5_a_dtoth1_b':'OTHR_DEBT_BAL',
      'w5_a_aslifeins':'LIFE_INSRNC','w5_a_aspen':'PEN_RETMNT_ANNTY','w5_a_aspen_v':'PEN_RETMNT_AMT','w5_a_aspen_cat':'PEN_RETMNT_CATGRY',
      'w5_a_asfin':'UNTTRST_STKS_SHRS','w5_a_asfin_v':'UT_SS_AMT','w5_a_asfin_cat':'UT_SS_CATGRY','w5_a_dtstvl':'STKVL_SAVNGSCLB',
      'w5_a_asacc':'BNK_ACC','w5_a_asacc_v':'BNK_ACC_BAL','w5_a_asacc_cat':'BNK_ACC_CATGRY','w5_a_dtacc_cat':'OD_ACC_CATEGRY',
      'w5_a_assell':'NET_VAL_HH_POSSNS','w5_a_assell_v':'POS_VAL_LFTOVR'}
df_filtered.rename(columns = dict,inplace = True)
display(df_filtered)

,Household_Identifier,Sample_Origin,Month_DOB,Year_DOB,Gender,Population_Group,Married_Cohabitation,Years_Married,Years_Cohabiting,Current_Relationship_Status,...,UNTTRST_STKS_SHRS,UT_SS_AMT,UT_SS_CATGRY,STKVL_SAVNGSCLB,BNK_ACC,BNK_ACC_BAL,BNK_ACC_CATGRY,OD_ACC_CATEGRY,NET_VAL_HH_POSSNS,POS_VAL_LFTOVR
0,500000,2017 sample,March,1980,Male,Coloured,Formally married,5,NaN,NaN,...,No,NaN,NaN,No,Yes,Dont know,Refused,NaN,Something left over,150000
1,500001,2008 sample,October,1993,Male,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,Yes,0,NaN,NaN,Don't know,NaN
2,500002,2008 sample,September,1979,Female,African,Formally married,13,NaN,NaN,...,No,NaN,NaN,Yes,Yes,4000,NaN,NaN,Something left over,Dont know
3,500002,2008 sample,August,1972,Male,African,Formally married,15,NaN,NaN,...,No,NaN,NaN,No,Yes,10000,NaN,NaN,Something left over,Dont know
4,500003,2008 sample,December,1967,Male,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,No,NaN,NaN,NaN,Refused,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30105,513781,2008 sample,December,1985,Male,African,NaN,NaN,NaN,NaN,...,No,NaN,NaN,No,No,NaN,NaN,NaN,Something left over,1000
30106,513782,2008 sample,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30107,513782,2008 sample,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30108,513782,2008 sample,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30109,513783,2008 sample,December,1985,Female,African,Formally married,6,NaN,NaN,...,No,NaN,NaN,No,Yes,0,NaN,NaN,In debt,NaN